<html lang="en">

<head>
  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '515766666807534');
    fbq('track', 'PageView');

    fbq('track', 'Purchase_Nunchaku');
  </script>
  <noscript>
    <img height="1" width="1" src="https://www.facebook.com/tr?id=515766666807534&ev=PageView
&noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

  <meta property="og:image:secure_url" content="https://i.ibb.co/Ws78dSR/linkbanner.jpg">
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="423" />
  <meta property="og:image:height" content="221" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css" rel="stylesheet" />
  <title></title>
  <style>
    html {
      background: white;
      color: black;
    }

    body {
      background: white;
      color: black;
      width: 100%;
      /* overflow-x: hidden; */
    }

    .myunderline {
      border-bottom: 4px solid #fd5e34;
      padding-bottom: 4px;
      display: inline-block;
      /* border-radius: 10px; */
    }


    .footerlink_mobile {
      color: #fd5e34;
      margin-right: 10px;
      margin-top: 0px;
    }


    .footerlink {
      color: #fd5e34;
      margin-right: 50px;
      margin-top: 50px;
    }

    .footerlinkicon {
      margin-top: 50px;
      width: 50px;
    }

    .footerlinkicon_mobile {
      margin-top: 30px;
      width: 30px;
    }

    .bluesubtitle {
      background: #007bff;
      color: white;
      display: inline-block;
      padding: 5px 10px;
      /* border-radius: 4px; */
    }
  </style>
</head>

<body>


  <div id="alldiv" style="position: relative; overflow-x: hidden; overflow-y: hidden">
    <nav class="navbar navbar-expand-lg navbar-dark" style=" z-index: 999">
      <a class="navbar-brand" href="/"><img src="./img/logo_orange.png" class=" d-none d-md-block"
          style="width: 250px;" /><img src="./img/logo_orange.png" class=" d-xs-block d-md-none"
          style="width: 180px;" /></a>

      <div class="d-none d-md-block">
        <img src="./img/charge/bubble_oragnge.png" style="width: 200px; position: absolute; right: 200px;">
        <img src="./img/charge/closetag_orange.png" style="width: 300px; top: 200px; position: absolute; left: 0px;">
        <img src="./img/charge/slack_orange.png" style="width: 300px; position: absolute; right: -100px; top: 500px;">
      </div>

      <div class="d-xs-block d-md-none">
        <img src="./img/charge/bubble_oragnge.png"
          style="width: 130px; top: 300px; position: absolute; left: -70px; z-index: -999;">
        <img src="./img/charge/opentag_orange.png" style="width: 200px; top: 80px; position: absolute; left: -40px;">
        <img src="./img/charge/closetag_orange.png" style="width: 200px; top: 280px; position: absolute; right: -80px;">
        <img src="./img/charge/slack_orange.png" style="width: 150px; position: absolute; right: -60px; top: 40px;">
      </div>
    </nav>
    <div class="d-none d-md-block">
      <div class="flex flex-col items-center mt-32 text-3xl" style="color: #fd5e34; margin-top: 50px;">

        <div style="font-size: 40px; margin-bottom: -10px;"><b>恭喜您!</b></div>
        <div style="font-size: 40px; margin-bottom: 10px;"><b>您已經成功報讀課程!</b></div>

        <div style="font-size: 25px; font-weight: bold;">課程開始日期將會在電話短訊及電郵公布!</div>

        <div class="myunderline" style="font-size: 18px; font-weight: bold; margin-top: 100px; margin-bottom: 50px;">
          請跟隨以下步驟來確保最好的體驗</div>

        <div class="container" style="margin-bottom: 50px;">

          <div class="row"
            style="max-width: 900px; left: 0; right: 0; margin-left: auto; margin-right: auto; margin-top: 20px;">

            <div class="col-6" style="font-size: 14px;">
              <div style="font-weight: bold;">步驟 #1</div>
              <h1 style="font-size: 18px; text-align: center; margin-top: 10px;">請查詢你的電郵</h1>
              <div style="width: 300px; left: 0; right: 0; margin-left: auto; margin-right: auto; margin-top: 20px;">
                我們經已將收據及確認電郵發送到你的電子郵箱內，而課程開始當天我們也會發出提示到你的電子郵箱，請查看你的電郵，如10-15 分鐘後也沒有收到，請立即發電郵至
                <br>
                <span style=""><a style="color: #fd5e34;"
                    href="mailto:hello@wewannalearn.com">hello@wewannalearn.com</a><span><br>
                    通知我們！
                    <div style="position: absolute; right: 0px; top: 30px; font-size: 25px;">ᐅ</div>
              </div>
            </div>

            <div class="col-6" style="font-size: 14px;">
              <div style="font-weight: bold;">步驟 #2</div>
              <h1 style="font-size: 18px; text-align: center; margin-top: 10px;">追蹤好想學社交媒體，<br>緊貼課程動向</h1>
              <div class="flex justify-center" style="margin-top: 30px;">
                <div><a href="https://www.facebook.com/wewannalearnofficial"><img style="width: 100px;"
                      src="img/socialicon/fb.png"></a></div>
                <div><a href="https://www.instagram.com/wewannalearn/"><img style="width: 100px;"
                      src="img/socialicon/ig.png"></a></div>

              </div>

            </div>

          </div>
        </div>
        <!-- <a style="margin-top: 50px;" href="/"> <button class="submitbutton ">返回主頁</button></a> -->

      </div>
    </div>

    <div class="d-xs-block d-md-none">
      <div class="flex flex-col items-center mt-32 text-2xl d-xs-block d-md-none" style="color: #fd5e34; ">

        <div style="font-size: 30px; margin-bottom: -10px; margin-top: -50px;"><b>恭喜您!</b></div>
        <div style="font-size: 30px; margin-bottom: 10px;"><b>您已經成功報讀課程!</b></div>
        <img
          style="width: 300px; left: 0; right: 0; margin-left: auto; margin-right: auto; position: relative; z-index: 1000;"
          src="img/homepage/busvideopreview.jpg" />
        <div style="text-align: center; margin-top: 20px; font-size: 18px; font-weight: bold;">課程開始日期將會<br>在電話短訊及電郵公布!
        </div>

        <div class="myunderline" style="font-size: 18px; font-weight: bold; margin-top: 20px; margin-bottom: 50px;">
          請跟隨以下步驟來確保最好的體驗</div>

        <div class="container" style="margin-bottom: 20px;">

          <div class="row"
            style="max-width: 900px; left: 0; right: 0; margin-left: auto; margin-right: auto; margin-top: 20px; text-align: center;">

            <div class="col-12" style="font-size: 14px; ">
              <div style="font-weight: bold;">步驟 #1</div>
              <h1 class="bluesubtitle" style="font-size: 18px; text-align: center; margin-top: 10px;">請查詢你的電郵</h1> <br>
              我們經已將收據及確認電郵發送到你的電子郵箱內，而課程開始當天我們也會發出提示到你的<br>電子郵箱，請查看你的電郵，如10-15 分鐘後也沒有收到，請立即發電郵至<br>
              <span style=""><a style="color: #fd5e34;"
                  href="mailto:hello@wewannalearn.com">hello@wewannalearn.com</a><span><br>
                  通知我們！
                  <!-- <div style="position: absolute; right: 0px; top: 50px;">ᐅ</div> -->
            </div>


            <div class="col-12" style="font-size: 14px; margin-top: 50px;">
              <div style="font-weight: bold;">步驟 #2</div>
              <h1 class="bluesubtitle" style="font-size: 18px; text-align: center; margin-top: 10px;">追蹤好想學社交媒體， <br>
                緊貼課程動向
              </h1> <br>
              <div class="flex justify-center" style="margin-top: 10px; width: 100%; text-align: center;">
                <a href="https://www.facebook.com/wewannalearnofficial"><img style="width: 50px;"
                    src="img/socialicon/fb.png"></a>
                <a href="https://www.instagram.com/wewannalearn/"><img style="width: 50px;"
                    src="img/socialicon/ig.png"></a>

              </div>

            </div>

          </div>
        </div>
        <!-- <a style="margin-top: 50px;" href="/"> <button class="submitbutton ">返回主頁</button></a> -->

      </div>
    </div>

    <div style="height: 150px; overflow: hidden;" class="d-none d-md-block">
      <img src="./img/charge/bubble_oragnge.png" style="width: 400px; position: absolute; left: -50px; bottom: -400px;">
      <img src="./img/charge/opentag_orange.png" style="width: 500px; position: absolute; right: 50px; bottom: -700px;">
    </div>

    <div class="container  d-none d-md-block" style="">

      <div class="d-flex justify-content-between">

        <a class="navbar-brand" href="/"><img src="./img/logo_orange.png" class=" d-none d-md-block"
            style="width: 200px;" /><img src="logo.png" class=" d-xs-block d-md-none" style="width: 180px;" /></a>


        <div class="d-flex justify-content-around">

          <a class="footerlink" href="/#aboutus">有關我們</a>
          <a class="footerlink" href="/#tutor">導師介紹</a>
          <a class="footerlink" href="/Minibus-Sign-Calligraphy#questions">常見問題 </a>

        </div>

        <div class="d-flex justify-content-around" style="margin-top: -15px;">

          <a href="https://www.facebook.com/wewannalearnofficial"><img class="footerlinkicon"
              src="img/socialicon/fb.png"></a>
          <a href="https://www.instagram.com/wewannalearn/"><img class="footerlinkicon" src="img/socialicon/ig.png"></a>

        </div>
        <!-- <a class="navbar-brand" href="/"><img src="logo.png" class=" d-none d-md-block" style="width: 250px;" /><img
          src="logo.png" class=" d-xs-block d-md-none" style="width: 180px;" />
  </a> -->


      </div>
    </div>

    <div class="container d-xs-block d-md-none">

      <div class="" style="text-align: center;">

        <a class="navbar-brand" href="/"><img src="./img/logo_orange.png" class=" d-xs-block d-md-none"
            style="width: 180px;" /></a><br>



        <a class="footerlink_mobile" href="/#aboutus">有關我們</a>
        <a class="footerlink_mobile" href="/#tutor">導師介紹</a>
        <a class="footerlink_mobile" href="/Minibus-Sign-Calligraphy#questions">常見問題 </a>


        <div class="flex justify-center" style="margin-top: -10px; margin-bottom: 50px;">

          <a href="https://www.facebook.com/wewannalearnofficial"><img class="footerlinkicon_mobile"
              src="img/socialicon/fb.png"></a>
          <a href="https://www.instagram.com/wewannalearn/"><img class="footerlinkicon_mobile"
              src="img/socialicon/ig.png"></a>


        </div>
        <!-- <a class="navbar-brand" href="/"><img src="logo.png" class=" d-none d-md-block" style="width: 250px;" /><img
                  src="logo.png" class=" d-xs-block d-md-none" style="width: 180px;" />
          </a> -->


      </div>
    </div>
    <div
      style="text-align: center; width: 100%; margin-top: 30px; margin-bottom: 100px; padding-left: 20px; padding-right: 20px; color: #fd5e34;">
      We Wanna Learn Co., Limited ©️
      2022 All Rights Reserved</div>
  </div>

</body>

</html>