<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

<head>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '515766666807534');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=515766666807534&ev=PageView
&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css" rel="stylesheet" />
    <meta property="og:image"
        content="https://harrykwan.github.io/wewannalearn-stripe-api/views/img/homepage/busvideopreview.jpg" />
    <meta property="og:image:width" content="1600" />
    <meta property="og:image:height" content="1000" />
    <meta property="og:title" content="【匠人精神！手寫小巴牌網上課程】" />
    <meta property="og:description"
        content="「每個人都應該有一塊屬於自己故事嘅小巴牌」紅藍色、繁體字，充滿香港特色的玩味潮語小巴牌近年成為風潮，更喚起大眾關注這一門獨有文化，但可惜手寫小巴牌正漸漸走向歷史盡頭。麥師傅在課程中會將40年來製作小巴牌的精粹傳授給大家，希望由您薪火相傳這一份香港人精神。" />
    <style>
        html {
            background: #fd5e34;
            color: #fff;
        }

        body {
            background: #fd5e34;
            color: #fff;
            /* padding: 40px; */
            width: 100%;
            /* overflow-x: hidden; */
        }

        #alldiv {
            background: #fd5e34;
        }

        .myunderline {
            border-bottom: 4px solid white;
            padding-bottom: 4px;
            display: inline-block;
            /* border-radius: 10px; */
        }

        .myaccording-focus {
            opacity: 1;
        }

        .myaccording-nofocus {
            opacity: 0.5;
        }

        .myaccording-nofocus:hover {
            opacity: 0.5;
            cursor: pointer;
        }

        h3 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
        }



        .gallery {
            background: none;
        }

        .gallery-cell {
            width: 300px;
            /* height: 200px; */
            margin-right: 10px;
        }

        .gallery-cell.dot {
            background-color: white;
        }

        .gallery-cell.is-selected {}

        /* cell number */
        .gallery-cell:before {
            display: block;
            text-align: center;
            line-height: 200px;
            font-size: 80px;
            color: white;
        }

        .collapse,
        .btn,
        .btn-link,
        .collapsed,
        .card,
        .card-header {
            background: #fd5e34;
            color: white;
        }

        .backgroundword {
            font-family: backgroundword;
            font-size: 70px;
            opacity: .6;
            position: absolute;
            z-index: 1;
        }


        .bluesubtitle {
            background: #007bff;
            display: inline-block;
            padding: 5px 10px;
            /* border-radius: 4px; */
        }

        .boldtitle {
            font-weight: bold;
            font-size: 20px;
        }

        .backgroundwordimg {
            position: absolute;
            z-index: 1;
        }


        .gallery {
            background: none;
        }

        .gallery-cell {
            width: 300px;
            height: 300px;
            overflow: hidden;
            margin-right: 10px;
        }

        .gallery-cell.dot {
            background-color: white;
        }

        .gallery-cell.is-selected {}

        /* cell number */
        .gallery-cell:before {
            display: block;
            text-align: center;
            line-height: 200px;
            font-size: 80px;
            color: white;
        }

        .footerlink_mobile {
            color: white;
            margin-right: 10px;
            margin-top: 0px;
        }


        .footerlink {
            color: white;
            margin-right: 50px;
            margin-top: 50px;
        }

        .footerlinkicon {
            margin-top: 50px;
            width: 50px;
        }

        .footerlinkicon_mobile {
            margin-top: 30px;
            width: 30px;
        }

        a {
            color: white;
        }

        .popupwindow {
            position: fixed;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            top: 100px;
            width: 900px;
            max-height: 80%;
            background: #fd5e34;
            color: white;
            z-index: 9999;
            border: 6px solid white;
            border-radius: 20px;
            padding: 20px;
            overflow: scroll;
            padding: 50px 150px;

        }

        .popupwindow_mobile {
            position: fixed;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            top: 100px;
            width: 350px;
            max-height: 80%;
            background: #fd5e34;
            color: white;
            z-index: 9999;
            border: 6px solid white;
            border-radius: 20px;
            padding: 20px;
            overflow: scroll;
        }

        .submitbutton {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
            /* width: 100px; */
            padding: 8px 20px;

            border-radius: 10px;
            font-size: 25px;

            margin-top: 10px;
            margin-bottom: 10px;
        }

        .popupinput {
            background: white;
            color: #007bff;
            border: none;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
            padding: 5px 10px;
        }

        .popupinput::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #007bff;
            ;
            opacity: 1;
            /* Firefox */
        }

        .popupinput:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #007bff;

        }

        .popupinput::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #007bff;

        }


        .clickable:hover {
            cursor: pointer;
        }

        .blurbackground {
            -webkit-filter: blur(2px) brightness(30%);
            -moz-filter: blur(2px) brightness(30%);
            -o-filter: blur(2px) brightness(30%);
            -ms-filter: blur(2px) brightness(30%);
            filter: blur(2px) brightness(30%);
            overflow: hidden;
            background: white;
        }



        .earlybird {
            font-weight: bold;
            margin-top: 88px;
            margin-bottom: -128px;
            width: 350px;
            padding: 18px;
            background: white;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            border: 0px solid white;
            border-radius: 11px;
            font-size: 17px;
        }

        .earlybirdmobile {
            font-weight: bold;
            margin-top: -10px;
            margin-bottom: 30px;
            width: 280px;
            padding: 15px;
            background: white;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            border: 0px solid white;
            border-radius: 20px;
            font-size: 15px;
        }

        .myProgress {
            margin-top: 5px;
            width: 100%;
            background-color: #ddd;
            border: 0px solid white;
            border-radius: 11px;
        }

        .myBar {
            /* width: 50%; */
            height: 15px;
            border: 0px solid white;
            border-radius: 11px;
            background-color: #2a6df5;
        }
    </style>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
    <div class="d-none d-md-block">
        <div id="desktoppopup" class="popupwindow " hidden>
            <div onclick="closepopup('desktoppopup')"
                style="font-size: 30px; position: fixed; top: 120px; left: calc(50% + 400px);  z-index: 999;">✕</div>
            <form style="text-align: center;" action="/newaccount" method="POST">
                <img src="logo.png" style="width: 250px;" />
                <h1 style="margin-bottom: 20px; font-size: 25px;">"Everyone should own a minibus sign <br>that tells
                    their
                    story"
                </h1>
                <div style="margin-bottom: 20px;">Will you be the next minibus sign calligrapher?
                    <br>
                    Seize the opportunity and carry on the spirit of Hong Kong!
                </div>
                <input class="popupinput" placeholder="Enter Your Name" name="name" required>
                <input type="email" class="popupinput" placeholder="Enter Your Email Address" name="email" required>
                <input hidden value="Minibus-Sign-Calligraphy" name="course">
                <!-- <button class="submitbutton" type="submit">參加課程</button> -->
                <button type="submit" style="background: none; border: none;"> <img style="width: 200px;"
                        src="./img/homepage/joincourse.png"></button>

            </form>
        </div>
    </div>

    <div class="d-xs-block d-md-none">
        <div id="mobilepopup" class="popupwindow_mobile " hidden>
            <div onclick="closepopup('mobilepopup')"
                style="font-size: 30px; position: fixed; top: 120px; left: calc(50% + 120px);  z-index: 999;">✕</div>
            <form style="text-align: center;" action="/newaccount" method="POST">
                <img src="logo.png" style="width: 250px;" />
                <h1 style="margin-bottom: 20px; font-size: 22px;">“Everyone should own a minibus sign that tells their
                    story”

                </h1>
                <div style="margin-bottom: 20px;">Will you be the next minibus sign calligrapher?
                    <br>
                    Seize the opportunity and carry on the spirit of Hong Kong!

                </div>
                <input class="popupinput" placeholder="Enter Your Name" name="name" required>
                <input type="email" class="popupinput" placeholder="Enter Your Email Address" name="email" required>
                <input hidden value="Minibus-Sign-Calligraphy" name="course">
                <button type="submit" style="background: none; border: none;"> <img style="width: 200px;"
                        src="./img/homepage/joincourse.png"></button>
            </form>
        </div>
    </div>


    <div style="position: fixed; bottom: 0; right: 0; z-index: 998;" class="clickable">
        <img src="./img/homepage/joincourse.png" style="width: 200px;" onclick="joincourse()">
    </div>

    <div id="alldiv" onclick="outfopopup()" style="position: relative; overflow-x: hidden; overflow-y: hidden;">
        <nav class="navbar navbar-expand-lg navbar-dark" style=" z-index: 999">
            <a class="navbar-brand" href="/"><img src="logo.png" class=" d-none d-md-block" style="width: 250px;" /><img
                    src="logo.png" class=" d-xs-block d-md-none" style="width: 180px;" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto" style="backdrop-filter: blur(200px);">
                    <li class="nav-item ">
                        <a class="nav-link" href="/#aboutus">有關我們 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#tutor">導師介紹</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/teach">導師招募</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container  d-xs-block d-md-none ">
            <img class=" d-xs-block d-md-none "
                style="width: calc(100% + 150px); margin-left: -90px;  margin-bottom: 50px;"
                src="./img/bus/header1mobile.jpg">

            <div class="earlybirdmobile" hidden>
                <div class="d-flex">
                    <div style="color: #2a6df5;">超早鳥優惠倒數</div>
                    <div id="countdown_word_mobile" class="ml-auto" style="color: black; ">23<span
                            style="font-size: 12px;">天</span>8<span style="font-size: 12px;">時</span>5<span
                            style="font-size: 12px;">分</span>18<span style="font-size: 12px;">秒</span>
                    </div>
                </div>
                <div class="myProgress">
                    <div class="myBar" id="countdown_bar_mobile"></div>
                </div>
            </div>




            <div class="row">
                <div class="col-sm" style="z-index: 100">
                    <h1 style="font-size: 25px; font-weight: bold;">“Everyone should own a minibus sign that tells
                        their story”
                    </h1>
                    <h2 style="margin-top: 30px; font-size: 20px;  font-weight: bold;">
                        <span class="myunderline">Passing on the Hand-Painted Minibus Sign
                        </span>
                    </h2>
                    <span>The recent trend of novelty minibus signs painted in red and blue and written in traditional
                        Chinese characters has brought the attention of a dwindling local culture. In this class, Master
                        Mak shares his 40 years of expertise in hand-painted minibus signs to preserve the unique
                        culture of Hong Kong.

                        <br> <br>
                        <!-- 香港最後一個手寫小巴牌師傅｜麥錦生 -->

                    </span>
                </div>

            </div>
        </div>


        <div class="container d-none d-md-block" style="margin-top: 50px;">
            <div class="row">
                <div class="col-sm" style="z-index: 100">
                    <h1 style="font-size: 50px;">“Everyone should own a minibus sign that tells their story”
                    </h1>
                    <h2 style="margin-top: 100px">
                        <span class="myunderline">Passing on the Hand-Painted Minibus Sign</span>
                    </h2>
                    <span>The recent trend of novelty minibus signs painted in red and blue and written in traditional
                        Chinese characters has brought the attention of a dwindling local culture. In this class, Master
                        Mak shares his 40 years of expertise in hand-painted minibus signs to preserve the unique
                        culture of Hong Kong.

                        <br> <br>
                        <!-- 香港最後一個手寫小巴牌師傅｜麥錦生 -->

                    </span>
                </div>
                <div class="col-sm">
                    <img src="img/bus/header1.png" style="
              width: 1100px;
              position: absolute;
              right: -150px;
              top: -50px;
              z-index: 0;
            " class="d-none d-md-block" />
                </div>
            </div>
        </div>


        <div class="d-none d-md-block">
            <div class="earlybird" hidden>
                <div class="d-flex">
                    <div style="color: #2a6df5;">超早鳥優惠倒數</div>
                    <div id="countdown_word" class="ml-auto" style="color: black; ">23<span
                            style="font-size: 12px;">天</span>8<span style="font-size: 12px;">時</span>5<span
                            style="font-size: 12px;">分</span>18<span style="font-size: 12px;">秒</span>
                    </div>
                </div>
                <div class="myProgress">
                    <div class="myBar" id="countdown_bar"></div>
                </div>
            </div>
        </div>


        <img style="width: 450px; position: absolute; left: -50px" class=" d-none d-md-block " src="img/bubble.png" />

        <div data-aos="fade-up" data-aos-duration="2000" class="container  d-none d-md-block "
            style="max-width: 1000px; margin-top: 50px; height: 650px;" data-aos="fade-up" data-aos-duration="2000">
            <div class="row">
                <div class="col-sm">
                    <div style="padding: 900px 0 0 0;" class="">
                        <iframe src="https://player.vimeo.com/video/664954352?h=4ea266f67c" frameborder="0"
                            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              " title="_雙節棍Promo Video（中文）.mp4"></iframe>
                    </div>


                </div>
            </div>
        </div>

        <div data-aos="fade-up" data-aos-duration="2000" class="container  d-xs-block d-md-none"
            style="width: 100%; margin-top: 0px; height: 150px;" data-aos="fade-up" data-aos-duration="2000">
            <div class="row">
                <div class="col-sm">
                    <div style="padding: 900px 0 0 0; margin-left: 0px;  transform: scale(1.5);" class=" ">
                        <iframe src="https://player.vimeo.com/video/664954352?h=4ea266f67c" frameborder="0"
                            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            margin-top: 200px;
          " title="_雙節棍Promo Video（中文）.mp4"></iframe>
                    </div>
                </div>
            </div>
        </div>



        <div class="container" style="margin-top: 200px" data-aos="fade-up" data-aos-duration="2000">
            <img style="width: 250px; position: absolute; left: -50px; top: -100px;" src="img/oepntag.png" />
            <div class="row justify-content-center">
                <div class="col-sm" style="max-width: 80%; text-align: center">
                    <h1 style="margin-bottom: 40px">
                        <span> As Featured In <img src="img/underline4.png"
                                style="position: absolute; top: -10; width: 250px; left: 10; right: 0; margin-left: auto; margin-right: auto;">
                        </span>
                    </h1>

                    <div class="d-none d-md-block" style="margin-bottom: 100px;">
                        <div class="row">
                            <div class="col-sm" style="margin-top: 20px;">
                                <img style="width: 70px;" src="./img/meida/cable.png">
                            </div>
                            <div class="col-sm" style="margin-top: -10px;">
                                <img style="width: 160px;" src="./img/meida/now.png">
                            </div>
                            <div class="col-sm" style="margin-top: 50px;">
                                <img style="width: 130px;" src="./img/meida/viu.png">
                            </div>
                            <div class="col-sm" style="margin-top: 40px;">
                                <img style="width: 70px;" src="./img/meida/rthk.png">
                            </div>
                            <div class="col-sm" style="margin-top: 25px;">
                                <img style="width: 80px;" src="./img/meida/tvb.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-xs-block d-md-none">
                <div class="row" style="width: calc(100% + 150px); margin-left: -75px;">
                    <div class="col-1"></div>
                    <div class="col-2" style="margin-top: 35px; text-align: center">
                        <img style="width: 50px; left: 0; right: 0; margin-left: 20px; margin-right: 0;"
                            src="./img/meida/tvb.png">
                    </div>

                    <div class="col-2" style="margin-top: 10px; text-align: center">
                        <img style="width: 100px; left: 0; right: 0; margin-left: -20px; margin-right: 0;"
                            src="./img/meida/now.png">
                    </div>
                    <div class="col-2" style="margin-top: 50px;">
                        <img style="width: 80px; left: 0; right: 0; margin-left: -10px; margin-right: 0;"
                            src="./img/meida/viu.png">
                    </div>
                    <div class="col-2" style="margin-top: 40px; text-align: center">
                        <img style="width: 50px; left: 0; right: 0; margin-left: auto; margin-right: 0;"
                            src="./img/meida/rthk.png">
                    </div>
                    <div class="col-2" style="margin-top: 40px; text-align: center">
                        <img style="width: 40px; left: 0; right: 0; margin-left: -40px; margin-right: 0;"
                            src="./img/meida/cable.png">
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>





        <div class="container" data-aos="fade-up" data-aos-duration="2000">
            <img src="img/bus/photo15.png"
                style="width: calc(100% + 150px); margin-left: -90px; height: 300px; object-fit: cover; margin-bottom: 100px; margin-top: 50px; object-position: 0px 0px;"
                class=" d-xs-block d-md-none" />
            <img src="img/closetag.png" style="width: 200px; position: absolute; right: 0px; top: 300px; z-index: -1;"
                class=" d-xs-block d-md-none" />
            <div class="row">
                <div class="col-sm-5">
                    <h1>About This Class <img src="img/underline4.png"
                            style="position: absolute; top: -10; width: 250px; left: -24; right: 0; ">
                    </h1>

                    <div style="margin-top: 30px">
                        The meaning behind Hand-Painted Minibus Sign is not only a collective memory and novelty trend,
                        it is also a motto that guides and reminds us to look forward in life.

                        <br /><br />
                        Alongside Master Mak, you’ll learn the history, philosophy, signature font and craftsmanship
                        skills of Hand-Painted Minibus Sign. With customized ink and crafting tools, you’ll be able to
                        create a heartwarming Hand-Painted Minibus Sign that is inspiring to yourself and carry on the
                        culture of Hong Kong!
                         

                    </div>

                    <img src="img/bus/photo14.png" style="
              width: 90%;
              margin-left: auto;
              margin-right: 0px;
              margin-top: 100px;
            " class="d-none d-sm-block" />
                </div>
                <div class="col-sm-7">
                    <img src="img/bus/photo15.png" style="width: 100%; position: absolute; right: -100px; top: -100px"
                        class="d-none d-sm-block" />

                    <img class="d-none d-sm-block" style="
              width: 400px;
              position: absolute;
              left: -130px;
              top: 450px;
              z-index: -1;
            " src="img/closetag.png" />

                    <img class="d-none d-sm-block" style="
              width: 400px;
              position: absolute;
              right: -200px;
              top: 520px;
              z-index: -1;
            " src="img/slash.png" />
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 200px" data-aos="fade-up" data-aos-duration="2000">
            <img src="img/bus/photo22.png"
                style="width: calc(100% + 150px); margin-left: -90px; height: 300px; object-fit: cover; margin-bottom: 50px; margin-top: -100px;"
                class=" d-xs-block d-md-none" />
            <div class="row">
                <div class="col-sm">
                    <img src="img/bus/photo22.png" style="width: 115%; position: absolute; left: -100px; top: -100px; "
                        class="d-none d-sm-block" />
                    <img class="d-none d-sm-block" style="width: 230px; position: absolute; right: 50px; top: 550px"
                        src="img/bubble.png" />
                </div>
                <div class="col-sm">
                    <h1>Lessons in This Class
                        <img src="img/underline4.png"
                            style="position: absolute; top: -10; width: 250px; left: -24; right: 0; ">
                    </h1>
                    <div style="margin-top: 40px;">*Each lesson breaks down the fundamentals in the simplest way within
                        a 10-minutes for quick learning!</div>
                    <div class="row" style="margin-left: 10px; margin-top: 70px">
                        <div class="col-2">
                            <div id="accordinggroup-course">
                                <h3 onclick="choose_according_course(this,0)" class="myaccording-focus">
                                    #01
                                </h3>
                                <h3 onclick="choose_according_course(this,1)" class="myaccording-nofocus">
                                    #02
                                </h3>
                                <h3 onclick="choose_according_course(this,2)" class="myaccording-nofocus">
                                    #03
                                </h3>
                            </div>
                        </div>
                        <div class="col-10">
                            <div style="margin-left: 20px">
                                <div id="accordingcontent-course">
                                    <h3>Iconic Red Minibus History (3 Lessons)</h3>
                                    <span>Peek into the story of Master Mak's 40 years of crafting Minibus Signs, the
                                        evolution, behind-the-scenes stories, industry terminology and myth of Red
                                        Minibus. Through the lens of diving into different cultures of the Iconic Red
                                        Minibus, you’ll master the concept of Minibus Sign easily.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-none d-md-block"
            style="text-align: center; height: 60vw; margin-top: 43vw;  padding: 0; width: 100%;">
            <img src="img/bus/keygraphic-word.png" data-aos="fade-up" data-aos-duration="3000"
                style="position: absolute; width: 100%; z-index: 999; left: 0; right: 0; margin-left: auto; margin-right: auto;" />
            <img src="img/bus/keygraphic.png" data-aos="fade-up" data-aos-duration="2000"
                style="position: absolute; width: 100%; left: 0; left: 0; right: 0; margin-left: auto; margin-right: auto;" />
        </div>


        <div class="container d-xs-block d-md-none" style="margin-top: 12%; padding: 0; margin-bottom: 330px">
            <img src="img/bus/keygraphic-word.png" data-aos="fade-up" data-aos-duration="3000"
                style="position: absolute; width: 100%; z-index: 999" />
            <img src="img/bus/keygraphic.png" data-aos="fade-up" data-aos-duration="2000"
                style="position: absolute; width: 100%; left: 0" />
        </div>


        <div class="container d-none d-md-block" data-aos="fade-up" data-aos-duration="2000">
            <h1 style="margin-bottom: 20px; margin-top: 0px;" class=" d-none d-md-block">
                <span> Meet Your Teacher<img src="img/underline4.png"
                        style="position: relative; width: 250px; left: -200px; top: 10px;">
                </span>
            </h1>
            <div class="row">
                <div class="col-sm-7">
                    <h1>“Lion Rock Spirit Never Dies!” </h1>
                    <div style="margin-top: 20px">
                        Master Mak has been crafting Minibus Signs since 1972 and has gone through the ups and downs of
                        Hong Kong until he’s the last Minibus Sign Calligrapher standing. Although red minibuses are in
                        decline, Master Mak takes the lead to pass on the culture of hand-painted minibus sign.

                    </div>

                    <div style="margin-top: 20px" class="boldtitle">“Local Slangs”
                    </div>
                    <div style="margin-top: 20px">
                        Through adaptability, Master Mak infuses local Cantonese slangs into minibus signs such as
                        “Happy Future” and transforms the signs into specialty gifts and keychains to spread awareness.

                    </div>
                    <img src="img/bus/photo13.png" style="
              width: 90%;
              margin-left: 0;
              margin-right: auto;
              margin-top: 100px;
            " class="d-none d-md-block" />
                    <img src="img/word/word3.png" style="left: -70px; top: 670px; z-index: 1; width: 400px;"
                        class="backgroundwordimg">
                </div>
                <div class="col-sm-5">
                    <img src="img/bus/photo16.png" style="width: 90%;   margin-left: auto;
               margin-right: 0; " class="d-none d-md-block" />

                    <div style="margin-top: 60px" class="boldtitle">“Embrace Technology to Preserve Tradition”

                    </div>
                    <div style="margin-top: 20px">
                        Whether you’re in Hong Kong or overseas, you can join this first ever online Hand-Painted
                        Minibus Sign Class and be part of the mission to keep the spirit alive!

                    </div>

                    <img src="img/bus/photo20.png" style="width: 80%;   margin-left: 0;
                margin-right: auto; margin-top: 50px;" class="d-none d-md-block" />

                </div>
            </div>
        </div>

        <div class="container d-xs-block d-md-none" data-aos="fade-up" data-aos-duration="2000">
            <h1 style="margin-bottom: -20px; margin-top: 20px;" class=" d-xs-block d-md-none">
                <span> Meet Your Teacher<img src="img/underline4.png"
                        style="position: relative; width: 250px; left: -40px; top: -60px; margin-bottom: -60px; ">
                </span>
            </h1>
            <div class="row">
                <div class="col-7">
                    <h1 style="font-size: 20px;" class="boldtitle">“Lion Rock Spirit Never Dies!”
                    </h1>
                    <div style="margin-top: 20px">
                        Master Mak has been crafting Minibus Signs since 1972 and has gone through the ups and downs of
                        Hong Kong until he’s the last Minibus Sign Calligrapher standing. Although red minibuses are in
                        decline, Master Mak takes the lead to pass on the culture of hand-painted minibus sign.

                    </div>
                </div>
                <div class="col-5">
                    <img src="img/bus/photo16.png"
                        style="width: calc(100% + 50px); height: 300px;  margin-top: 50px; object-fit: cover;"
                        class=" d-xs-block d-md-none" />
                    <!-- 
                <img src="img/bus/photo20.png" style="width: 80%;   margin-left: 0;
                margin-right: auto; margin-top: 50px;" class="d-xs-block d-md-none" /> -->

                </div>
            </div>

            <div style="margin-top: 20px" class="boldtitle">“Local Slangs”
            </div>
            <div style="margin-top: 20px">
                Through adaptability, Master Mak infuses local Cantonese slangs into minibus signs such as “Happy
                Future” and transforms the signs into specialty gifts and keychains to spread awareness.

            </div>

            <img src="img/word/word3.png" style="
            width: 250px; 
            position: absolute;
            left: 0;
            top: 860px;
            " class="d-xs-block d-md-none" />

            <img src="img/bus/photo13.png" style="
          width: calc(100% + 150px); 
          margin-left: -90px; 
          margin-right: auto;
          margin-top: 50px;
        " class="d-xs-block d-md-none" />




            <div class="row">
                <div class="col-12">
                    <div style="margin-top: 60px" class="boldtitle">“Embrace Technology to Preserve Tradition”

                    </div>
                    <div style="margin-top: 20px">
                        Whether you’re in Hong Kong or overseas, you can join this first ever online Hand-Painted
                        Minibus Sign Class and be part of the mission to keep the spirit alive!


                    </div>

                    <img src="img/bus/photo20.png" style="width: calc(100% ); margin-left: 0px; object-fit: cover; 
                    margin-right: auto; margin-top: 20px; object-fit: cover;" class="d-xs-block d-md-none" />
                </div>

            </div>
        </div>


        <div class="container d-none d-md-block" style="margin-top: 130px; margin-bottom: 650px;" data-aos="fade-up"
            data-aos-duration="2000">
            <div class=" d-none d-md-block"
                style="text-align: center; width: 70%; left: 0; right: 0; margin-left: auto; margin-right: auto;">
                <h1>“Each handwriting is unique; this will never be replaced by a machine.”</h1>
                <div style="text-align: right; margin-right: 80px; font-size: 25px; font-weight: bold;">—— Master Mak

                </div>
            </div>


            <img src="img/bus/photo18.png" style="width: 200px; left: 0;
      margin-top: 50px; position: absolute;" class="d-none d-md-block" />
            <img src="img/bus/photo17.png" style="width: 600px; right: 0;
     margin-top: 150px; position: absolute;" class="d-none d-md-block" />


            <!-- <div class="backgroundword d-none d-md-block" style="font-size: 50px; right: 320px;
top: 580px; position: absolute;">
            香港人精神
        </div> -->

            <img class="backgroundwordimg" src="img/word/word4.png" style="width: 400px;right: 320px;
        top: 580px; z-index: 1">


        </div>

        <div class="container d-xs-block d-md-none" style="margin-top: 50px;  margin-bottom: 400px" data-aos="fade-up"
            data-aos-duration="2000">

            <div class="d-xs-block d-md-none"
                style="width: 100%; left: 0; right: 0; margin-left: auto; margin-right: auto; ">
                <h1 style="font-size: 21px;">“Each handwriting is unique; this will never be replaced by a machine.”
                </h1>
                <div style="text-align: right; margin-right: 20px; font-size: 16px; font-weight: bold;">—— Master Mak

                </div>
            </div>


            <img src="img/bus/photo18.png" style="width: 120px; left: -20px;
margin-top: 20px; position: absolute;" class=" d-xs-block d-md-none" />
            <img src="img/bus/photo17.png" style="width: 250px; right: -20px;
margin-top: 120px; position: absolute;" class=" d-xs-block d-md-none" />


            <img src="./img/word/word4.png" class="backgroundwordimg" class=" d-xs-block d-md-none" style="right: 0px; width: 250px;
        top: 300px; position: absolute; ">

        </div>


        <div class="container" data-aos="fade-up" data-aos-duration="2000" style="text-align: center;">
            <img class="d-none d-md-block" style="width: 450px; position: absolute; left: -50px; top: -230px"
                src="img/oepntag.png" />

            <img class="d-xs-block d-md-none" style="width: 250px; position: absolute; left: -50px; top: -150px"
                src="img/oepntag.png" />


            <h1 style="margin-bottom: 50px" data-aos="fade-up" data-aos-duration="2000">
                Testimonial
                <img src="img/underline4.png"
                    style="position: absolute; top: -10; width: 250px; left: 10; right: 0; margin-left: auto; margin-right: auto;">
            </h1>
            <div style="max-width: 400px; left: 0; right: 0; margin-left:auto; margin-right: auto;">
                Master Mak has made minibus signs for movies and concerts and has been teaching students of all ages
                throughout the years.

            </div>
            <div class="gallery js-flickity" style="width: 100%; margin-left: 0; margin-right: 0; margin-top: 50px;">

                <div class="gallery-cell">
                    <img style="width: 100%" src="img/bus/students/p1.jpg" />
                </div>
                <div class="gallery-cell">
                    <img style="width: 100%" src="img/bus/students/p2.jpg" />
                </div>
                <div class="gallery-cell">
                    <img style="width: 100%" src="img/bus/students/p3.jpg" />
                </div>
                <div class="gallery-cell">
                    <img style="width: 100%" src="img/bus/students/p4.jpg" />
                </div>
                <div class="gallery-cell">
                    <img style="width: 100%" src="img/bus/students/p5.jpg" />
                </div>
                <div class="gallery-cell">
                    <img style="width: 100%" src="img/bus/students/p6.jpg" />
                </div>
                <div class="gallery-cell">
                    <img style="width: 100%" src="img/bus/students/p7.jpg" />
                </div>
                <div class="gallery-cell">
                    <img style="width: 100%" src="img/bus/students/p8.jpg" />
                </div>
            </div>
        </div>



        <div class="container" style="margin-top: 200px;">
            <img src="img/bus/photo24.jpg"
                style="width: calc(100% + 150px); margin-left: -90px; height: 300px; object-fit: cover; margin-bottom: 50px;  margin-top: -100px; z-index: 10; position: relative;"
                class=" d-xs-block d-md-none" />
            <img src="img/bubble.png"
                style="width: 200px; position: absolute; right: 0px;  z-index: 1; margin-top: -130px;"
                class=" d-xs-block d-md-none" />
            <div class="row">
                <div class="col-sm-5">
                    <h1 style="margin-bottom: 50px;">Class Unlocking Event <img src="img/underline4.png"
                            style="position: absolute; top: -40; width: 370px; left: -45; right: 0;  ">
                    </h1>
                    <div class="d-none d-md-block" style="margin-top: 30px; ">
                        Once the class registration hits 500, the instructor will offer an extra tutorial to all the
                        students!

                    </div>

                    <div class=" d-xs-block d-md-none" style="margin-top: 30px">
                        <div class="row">
                            <div class="col-6">
                                <div>
                                    Once the class registration hits 500, the instructor will offer an extra tutorial to
                                    all the students!

                                </div>
                            </div>
                            <div class="col-6">
                                <img src="img/bus/photo23.png" style="width: 100%;" alt="">
                            </div>
                        </div>
                    </div>

                    <img src="img/bus/photo23.png" style="
              width: 400px;
              margin-left: -120px;
              margin-right: auto;
              margin-top: 100px;
            " class="d-none d-sm-block" />
                </div>
                <div class="col-sm-7">

                    <img src="img/bus/photo24.jpg"
                        style="width: 600px; height: 800px; position: absolute; right: -100px; top: -100px; position: relative; z-index: 10; object-fit: cover;"
                        class="d-none d-sm-block" />

                    <img class="d-none d-md-block" style="
              width: 400px;
              position: absolute;
              left: -130px;
              top: 250px;
              z-index: 1;
            " src="img/closetag.png" />

                    <img class="d-none d-md-block" style="
              width: 400px;
              position: absolute;
              right: -100px;
              top: 520px;
              z-index: 1;
            " src="img/bubble.png" />
                </div>
            </div>
        </div>

        <div id="questions" class="container">
            <h1 style="margin-bottom: 20px; margin-top: 0px;" class=" d-none d-md-block">
                <span> 常見問題<img src="img/underline4.png"
                        style="position: relative; width: 250px; left: -200px; top: 10px;">
                </span>
            </h1>
            <h1 style="margin-bottom: 20px; margin-top: 50px;" class=" d-xs-block d-md-none">
                <span> 常見問題<img src="img/underline4.png"
                        style="position: relative; width: 250px; left: -40px; top: -60px; margin-bottom: -60px; ">
                </span>
            </h1>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Q1: 什麼時候可以開始上課？
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            早鳥優惠預購課程時間結束後，課程將會分階段陸續上架。
                            <br><br>
                            實際開課日將會透過短訊或電郵通知大家！<br>
                            課程是預錄好的網上課程，你不會錯過任何精心製作的內容。 你可以在有空的時候觀看和複習。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                Q2: 請問上課地點? 上課時間?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            上課形式以觀看預先錄製好的影片進行，以確保課程內容製作高品質，更配上中文字幕方便世界各地華人觀看，讓學員更快、更精準學習。<br><br>

                            課程上線後，你可以隨時隨地透過手機、平板、或電腦登入學員專區觀看課程影片，沒有時間和地點的限制。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                Q3: 香港以外可以報名嗎？
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            絕對可以！任何國家都能網上觀看課程。課程視頻以預先錄製模式，打破任可時差地域限制。學員可以隨自己學習進度安排時間上課。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseThree">
                                Q4: 請問課程可以看多久？看幾次？
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            可無限次數觀看課程內容。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                                aria-expanded="false" aria-controls="collapseFive">
                                Q5: 學習時遇到困難怎樣解決？
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            隨時可以到學員討論專區發問，導師會同學員互動親自解答。歡迎你一起加入學員討論專區與老師和同學一起互動。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                                aria-expanded="false" aria-controls="collapseSix">
                                Q6: 上課前，需要自備工具嗎？
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                        <div class="card-body">
                            早鳥優惠期間課程會附送所有需要的小巴牌製作材料和工具，報名時請填妥準確個人資料和郵寄地址後，《好想學》會安排將課程材料送到你指定的地址內（郵寄時間：香港大約10日 /
                            海外大約20日）
                            <br><br>
                            香港地區：採用順豐到付服務<br>
                            <br>
                            海外地區：由於疫情關係，國際運輸價格浮動不穩以及運送時間都要視乎海外學員地區情況而定。因此採用個別報價服務，好想學會在海外學員購買課程後透過電郵盡快提供運費資料，不便之處，敬請原諒
                            <br><br>
                            *郵寄時間若有調整，將會透過短訊或電郵通知學員!

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSeven">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven"
                                aria-expanded="false" aria-controls="collapseSeven">
                                Q7: 購買後可以與朋友使用同一個帳戶共享課程嗎？
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                        <div class="card-body">
                            很高興你喜歡並選擇我們的課程，相信導師的心血、知識及專業已經得到你認同。為了能提供高品質的教學成效，每一堂課程都需要導師及課程團隊用長時間的人力心力與資源才可以完成，希望可以與更多志同道合的學員分享，同時亦希望你能夠出一分力維護你所支持導師權益，好讓技能繼續傳承。<br><br>

                            另外，多帳戶共用並觀看課程會違反《好想學》的會員使用條款，如經查實有此事，《好想學》保留取消學員資格等權利。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight"
                                aria-expanded="false" aria-controls="collapseEight">
                                Q8: 其他問題？
                            </button>
                        </h5>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                        <div class="card-body">
                            可以私訊《好想學》社交媒體，或歡迎你電郵到 hello@wewannalearn.com
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container  d-none d-md-block">

            <div class="row mt-5 mb-4">
                <div class="col-3 ">
                    <a class="navbar-brand" href="/"><img src="logo.png" class=" d-none d-md-block"
                            style="width: 200px;" /><img src="logo.png" class=" d-xs-block d-md-none"
                            style="width: 180px;" /></a>
                </div>
                <div class="col-3 ">
                    <h3>關於好想學</h3>
                    <div><a href="/#aboutus">有關我們</a></div>
                    <div><a href="/#tutor">導師介紹</a></div>
                    <div><a href="/Minibus-Sign-Calligraphy#questions">常見問題</a></div>
                </div>
                <div class="col-3 ">
                    <h3>追蹤動態</h3>
                    <div style="margin-left: -10px"> <a href="https://www.facebook.com/wewannalearnofficial"><img
                                style="width: 50px;" src="img/socialicon/fb-white.png"></a>
                        <a href="https://www.instagram.com/wewannalearn/"><img style="width: 50px;"
                                src="img/socialicon/ig-white.png"></a>
                    </div>

                </div>
                <div class="col-3 ">
                    <h3>聯絡我們</h3>
                    <div><a href="tel:91318538">+852 91318538</a></div>
                    <div><a href="mailto:hello@wewannalearn.com">hello@wewannalearn.com</a></div>
                </div>
            </div>




        </div>

        <div class="container d-xs-block d-md-none">

            <div class="" style="text-align: center;">

                <a class="navbar-brand" href="/"><img src="logo.png" class=" d-xs-block d-md-none"
                        style="width: 180px;" /></a><br>



                <a class="footerlink_mobile" href="/#aboutus">有關我們</a>
                <a class="footerlink_mobile" href="/#tutor">導師介紹</a>
                <a class="footerlink_mobile" href="/Minibus-Sign-Calligraphy#questions">常見問題 </a>


                <div class="flex justify-center" style="margin-top: -10px; margin-bottom: 50px;">

                    <a href="https://www.facebook.com/wewannalearnofficial"><img class="footerlinkicon_mobile"
                            src="img/socialicon/fb-white.png"></a>
                    <a href="https://www.instagram.com/wewannalearn/"><img class="footerlinkicon_mobile"
                            src="img/socialicon/ig-white.png"></a>


                </div>

                <!-- <a class="navbar-brand" href="/"><img src="logo.png" class=" d-none d-md-block" style="width: 250px;" /><img
                        src="logo.png" class=" d-xs-block d-md-none" style="width: 180px;" />
                </a> -->


            </div>
        </div>

    </div>
    <div
        style="text-align: center; width: 100%; margin-top: 30px; margin-bottom: 100px; padding-left: 20px; padding-right: 20px;">
        We Wanna Learn Co., Limited ©️
        2022 All Rights Reserved</div>
    <script>

        AOS.init();
        const according_words = [
            `<h3>紅Van歷史導賞 [3集]</h3>
                            <span>窺探麥師傅40年來製作小巴牌的故事和紅Van的演變，輕鬆了解小巴行內秘史、術語和鮮為人知的小巴暗黑面故事。繼而讓大家融入不同時代中的小巴文化，更細味掌握小巴牌製作理念。</span>`,
            `<h3>港式毛筆書法簡介 [3集]</h3>
                            <span>小巴字體以粗體楷書起家，再注入自成一派的揮筆技巧和美學元素後，演變至今天香港獨有的小巴招牌字體。<br><br>除了字體獨特外，寫法也非常有趣！小巴招牌的寫法與正統的毛筆字不太一樣。麥師傅會先以四、五筆畫起稿，然後再填色，反倒更像在畫畫。「毛筆字是一筆過的，不可以翻手 ，但用油寫一定要翻手的。」</span>`,
            `<h3>小巴牌書法工作傳授 [3集]</h3>
                            <span>麥師傅會傳授手寫小巴書法的靈活精粹，一筆一畫地教授大家書寫獨有的小巴中文字體，更加可以加上英文字句，再從美學角度掌握小巴牌的書寫空間，讓大家學懂自行製作屬於自己的小巴牌。</span>`,
        ];

        function choose_according_course(x, y) {
            console.log(x);
            document
                .getElementById("accordinggroup-course")
                .getElementsByClassName("myaccording-focus")[0]
                .classList.add("myaccording-nofocus");
            document
                .getElementById("accordinggroup-course")
                .getElementsByClassName("myaccording-focus")[0]
                .classList.remove("myaccording-focus");
            x.classList.remove("myaccording-nofocus");
            x.classList.add("myaccording-focus");
            document.getElementById("accordingcontent-course").innerHTML =
                according_words[y];
        }

        function switchphoto_mousin(x) {
            x = x.getElementsByTagName("img")[0];
            if (x.src.indexOf("before") != -1) {
                x.src = x.src.split("before").join("after");
            }
        }

        function switchphoto_mousout(x) {
            x = x.getElementsByTagName("img")[0];
            if (x.src.indexOf("after") != -1) {
                x.src = x.src.split("after").join("before");
            }
        }

        function closepopup(x) {
            console.log(x)
            document.getElementById(x).style.display = "none"
            document.getElementById('alldiv').classList.remove('blurbackground')
        }

        function outfopopup() {
            if (document.getElementById('alldiv').classList.contains('blurbackground')) {
                document.getElementById('alldiv').classList.remove('blurbackground')
                document.getElementById("desktoppopup").style.display = "none"
                document.getElementById("mobilepopup").style.display = "none"
            }

        }

        function joincourse() {
            document.getElementById('alldiv').classList.add('blurbackground')
            document.getElementById('desktoppopup').hidden = false
            document.getElementById('mobilepopup').hidden = false
            document.getElementById("desktoppopup").style.display = "block"
            document.getElementById("mobilepopup").style.display = "block"
        }

        function checkurl() {
            if (window.location.href.indexOf("#buy") != -1) {
                joincourse()
            }
        }
        checkurl()

        const countdownstarttime = 1650211445451
        const countdown = 1651968000000

        setInterval(function () {
            const percentage = (Date.now() - countdownstarttime) / (countdown - countdownstarttime) * 0.5 * 100 + 50
            document.getElementById("countdown_word").innerHTML = daydifference(countdown - Date.now())
            document.getElementById("countdown_word_mobile").innerHTML = daydifference(countdown - Date.now())
            document.getElementById("countdown_bar").style.width = percentage + "%"
            document.getElementById("countdown_bar_mobile").style.width = percentage + "%"
        }, 1000)

        function daydifference(difference_ms) {
            difference_ms = difference_ms / 1000;
            var seconds = Math.floor(difference_ms % 60);
            difference_ms = difference_ms / 60;
            var minutes = Math.floor(difference_ms % 60);
            difference_ms = difference_ms / 60;
            var hours = Math.floor(difference_ms % 24);
            var days = Math.floor(difference_ms / 24);
            // console.log(days, seconds, hours, minutes)
            return `<div class="ml-auto" style="color: black; ">${days}<span style="font-size: 12px;">天</span>${hours}<span
                    style="font-size: 12px;">時</span>${minutes}<span style="font-size: 12px;">分</span>${seconds}<span
                    style="font-size: 12px;">秒</span>
            </div>`
        }
    </script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js"></script>

</body>

</html>