<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css" rel="stylesheet" />

    <style>
        html {
            background: #fd5e34;
            color: #fff;
        }

        #alldiv {
            background: #fd5e34;
        }

        body {
            background: #fd5e34;
            color: #fff;
            /* padding: 40px; */
            width: 100%;
            /* overflow-x: hidden; */
        }

        .myunderline {
            border-bottom: 4px solid white;
            padding-bottom: 4px;
            display: inline-block;
            /* border-radius: 10px; */
        }

        .myaccording-focus {
            opacity: 1;
        }

        .myaccording-nofocus {
            opacity: 0.5;
        }

        .myaccording-nofocus:hover {
            opacity: 0.5;
            cursor: pointer;
        }

        h3 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
        }



        .gallery {
            background: none;
        }

        .gallery-cell {
            width: 300px;
            /* height: 200px; */
            margin-right: 10px;
        }

        .gallery-cell.dot {
            background-color: white;
        }

        .gallery-cell.is-selected {}

        /* cell number */
        .gallery-cell:before {
            display: block;
            text-align: center;
            line-height: 200px;
            font-size: 80px;
            color: white;
        }

        .collapse,
        .btn,
        .btn-link,
        .collapsed,
        .card,
        .card-header {
            background: #fd5e34;
            color: white;
        }

        .backgroundword {
            font-family: backgroundword;
            font-size: 70px;
            opacity: .6;
            position: absolute;
            z-index: 1;
        }


        .bluesubtitle {
            background: #007bff;
            display: inline-block;
            padding: 5px 10px;
            /* border-radius: 4px; */
        }

        .boldtitle {
            font-weight: bold;
            font-size: 20px;
        }

        .backgroundwordimg {
            position: absolute;
            z-index: 1;
        }


        .gallery {
            background: none;
        }

        .gallery-cell {
            width: 300px;
            height: 300px;
            overflow: hidden;
            margin-right: 10px;
        }

        .gallery-cell.dot {
            background-color: white;
        }

        .gallery-cell.is-selected {}

        /* cell number */
        .gallery-cell:before {
            display: block;
            text-align: center;
            line-height: 200px;
            font-size: 80px;
            color: white;
        }

        .footerlink_mobile {
            color: white;
            margin-right: 10px;
            margin-top: 0px;
        }


        .footerlink {
            color: white;
            margin-right: 50px;
            margin-top: 50px;
        }

        .footerlinkicon {
            margin-top: 50px;
            width: 50px;
        }

        .footerlinkicon_mobile {
            margin-top: 30px;
            width: 30px;
        }

        .popupwindow {
            position: fixed;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            top: 100px;
            width: 900px;
            max-height: 80%;
            background: #fd5e34;
            color: white;
            z-index: 9999;
            border: 6px solid white;
            border-radius: 20px;
            padding: 20px;
            overflow: scroll;
            padding: 50px 150px;

        }

        .popupwindow_mobile {
            position: fixed;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            top: 100px;
            width: 350px;
            max-height: 80%;
            background: #fd5e34;
            color: white;
            z-index: 9999;
            border: 6px solid white;
            border-radius: 20px;
            padding: 20px;
            overflow: scroll;
        }

        .submitbutton {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
            /* width: 100px; */
            padding: 8px 20px;

            border-radius: 10px;
            font-size: 25px;

            margin-top: 10px;
            margin-bottom: 10px;
        }

        .popupinput {
            background: white;
            color: #007bff;
            border: none;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
            padding: 5px 10px;
        }

        .popupinput::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #007bff;
            ;
            opacity: 1;
            /* Firefox */
        }

        .popupinput:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #007bff;

        }

        .popupinput::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #007bff;

        }


        .clickable:hover {
            cursor: pointer;
        }

        .blurbackground {
            -webkit-filter: blur(2px) brightness(30%);
            -moz-filter: blur(2px) brightness(30%);
            -o-filter: blur(2px) brightness(30%);
            -ms-filter: blur(2px) brightness(30%);
            filter: blur(2px) brightness(30%);
            overflow: hidden;
            background: white;
        }
    </style>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
    <div class="d-none d-md-block">
        <div id="desktoppopup" class="popupwindow " hidden>
            <div onclick="closepopup('desktoppopup')"
                style="font-size: 30px; position: fixed; top: 120px; left: calc(50% + 400px);  z-index: 999;">✕</div>
            <form style="text-align: center;" action="/newaccount" method="POST">
                <img src="logo.png" style="width: 250px;" />
                <h1 style="margin-bottom: 20px; font-size: 25px;">「將雙節棍融入生活，
                    耍出靈活多變嘅香港人精神！成為一個Brand New Me!」
                </h1>
                <div style="margin-bottom: 20px;">您會是下一個雙截棍承傳者嗎？
                    <br>
                    把握時機，由你將香港精神發揚光開去！
                </div>
                <input class="popupinput" placeholder="輸入你的名字" name="name" required>
                <input type="email" class="popupinput" placeholder="輸入你的電𨛘" name="email" required>
                <input hidden value="Hong-Kong-Nunchaku" name="course">
                <button type="submit" style="background: none; border: none;"> <img style="width: 200px;"
                        src="./img/homepage/joincourse.png"></button>
            </form>
        </div>
    </div>

    <div class="d-xs-block d-md-none">
        <div id="mobilepopup" class="popupwindow_mobile " hidden>
            <div onclick="closepopup('mobilepopup')"
                style="font-size: 30px; position: fixed; top: 120px; left: calc(50% + 120px);  z-index: 999;">✕</div>
            <form style="text-align: center;" action="/newaccount" method="POST">
                <img src="logo.png" style="width: 250px;" />
                <h1 style="margin-bottom: 20px; font-size: 22px;">「將雙節棍融入生活，耍出靈活多變嘅香港人精神！成為一個Brand New Me!」
                </h1>
                <div style="margin-bottom: 20px;">您會是下一個雙截棍承傳者嗎？
                    <br>
                    把握時機，由你將香港精神發揚光開去！
                </div>
                <input class="popupinput" placeholder="輸入你的名字" name="name" required>
                <input class="popupinput" placeholder="輸入你的電𨛘" name="email" required>
                <input hidden value="Hong-Kong-Nunchaku" name="course">
                <button type="submit" style="background: none; border: none;"> <img style="width: 200px;"
                        src="./img/homepage/joincourse.png"></button>
            </form>
        </div>
    </div>


    <div style="position: fixed; bottom: 0; right: 0; z-index: 9999;" class="clickable">
        <img src="./img/homepage/joincourse.png" style="width: 200px;" onclick="joincourse()">
    </div>
    <div style="position: relative; overflow-x: hidden; overflow-y: hidden;" id="alldiv" onclick="outfopopup()">
        <nav class="navbar navbar-expand-lg navbar-dark" style=" z-index: 999">
            <a class="navbar-brand" href="/"><img src="logo.png" class=" d-none d-md-block" style="width: 250px;" /><img
                    src="logo.png" class=" d-xs-block d-md-none" style="width: 180px;" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto" style="backdrop-filter: blur(200px);">
                    <li class="nav-item ">
                        <a class="nav-link" href="/#aboutus">有關我們 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#tutor">導師介紹</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/teach">導師招募</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container  d-xs-block d-md-none ">
            <img class=" d-xs-block d-md-none "
                style="width: calc(100% + 50px); margin-left: -25px;  margin-bottom: 50px;"
                src="./img/doublestick/header1mobile.jpg">
            <div class="row">
                <div class="col-sm" style="z-index: 100">
                    <h1 style="font-size: 25px; font-weight: bold;">「將雙節棍融入生活，<br>耍出靈活多變嘅香港人精神！成為一個Brand New Me!」
                    </h1>
                    <h2 style="margin-top: 30px; font-size: 20px;  font-weight: bold;">
                        <span class="myunderline">雙節棍傳承</span>
                    </h2>
                    <span>一個字，型！幕前李小龍用雙節棍將香港電影打響國際，幕後海綿雙節棍(代替品)
                        操作輕巧、容易玩、安全，是一項適合男女老幼的日常運動，透過10分鐘的練習，既型格又可以促進身心健康和保護自己，更能傳承香港人靈活多變的精神！
                    </span>
                </div>

            </div>
        </div>


        <div class="container d-none d-md-block" style="margin-top: 50px;">
            <div class="row">
                <div class="col-sm" style="z-index: 100">
                    <h1 style="font-size: 50px;">「將雙節棍融入生活，<br>耍出靈活多變嘅<br>香港人精神！成為<br>一個Brand New Me!」</h1>
                    <h2 style="margin-top: 100px">
                        <span class="myunderline">雙節棍傳承</span>
                    </h2>
                    <span>一個字，型！幕前李小龍用雙節棍將香港電影打響國際，幕後海綿雙節棍(代替品)
                        操作輕巧、容易玩、安全，是一項適合男女老幼的日常運動，透過10分鐘的練習，既型格又可以促進身心健康和保護自己，更能傳承香港人靈活多變的精神！
                    </span>
                </div>
                <div class="col-sm">
                    <img src="img/doublestick/header1.png" style="
              width: 1100px;
              position: absolute;
              right: -150px;
              top: -50px;
              z-index: 0;
            " class="d-none d-md-block" />
                </div>
            </div>
        </div>

        <img style="width: 450px; position: absolute; left: -50px" class=" d-none d-md-block " src="img/bubble.png" />

        <div data-aos="fade-up" data-aos-duration="2000" class="container  d-none d-md-block "
            style="max-width: 1000px; margin-top: 50px; height: 650px;" data-aos="fade-up" data-aos-duration="2000">
            <div class="row">
                <div class="col-sm">
                    <div style="padding: 900px 0 0 0;" class="">
                        <iframe
                            src="https://player.vimeo.com/video/664954462?h=2e2f23c756&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                            frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              " title="_雙節棍Promo Video（中文）.mp4"></iframe>
                    </div>


                </div>
            </div>
        </div>

        <div data-aos="fade-up" data-aos-duration="2000" class="container  d-xs-block d-md-none"
            style="width: 100%; margin-top: 0px; height: 150px;" data-aos="fade-up" data-aos-duration="2000">
            <div class="row">
                <div class="col-sm">
                    <div style="padding: 900px 0 0 0; margin-left: 0px;  transform: scale(1.5);" class=" ">
                        <iframe
                            src="https://player.vimeo.com/video/664954462?h=2e2f23c756&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                            frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            margin-top: 200px;
          " title="_雙節棍Promo Video（中文）.mp4"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 200px" data-aos="fade-up" data-aos-duration="2000">
            <img style="width: 250px; position: absolute; left: -50px; top: -100px;" src="img/oepntag.png" />
            <div class="row justify-content-center">
                <div class="col-sm" style="max-width: 80%; text-align: center">
                    <h1 style="margin-bottom: 40px">
                        <span> 媒體報導 <img src="img/underline4.png"
                                style="position: absolute; top: -10; width: 250px; left: 10; right: 0; margin-left: auto; margin-right: auto;">
                        </span>
                    </h1>

                    <div class="d-none d-md-block" style="margin-bottom: 100px;">
                        <div class="row">

                            <div class="col-sm" style="margin-top: 0px;">
                                <img style="width: 70px;" src="./img/meida/cable.png">
                            </div>
                            <div class="col-sm" style="margin-top: -10px;">
                                <img style="width: 160px;" src="./img/meida/now.png">
                            </div>
                            <div class="col-sm" style="margin-top: 50px;">
                                <img style="width: 130px;" src="./img/meida/viu.png">
                            </div>
                            <div class="col-sm" style="margin-top: 40px;">
                                <img style="width: 70px;" src="./img/meida/rthk.png">
                            </div>
                            <div class="col-sm" style="margin-top: 25px;">
                                <img style="width: 80px;" src="./img/meida/tvb.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-xs-block d-md-none">
                <div class="row" style="width: calc(100% + 150px); margin-left: -75px;">
                    <div class="col-1"></div>
                    <div class="col-2" style="margin-top: 35px; text-align: center">
                        <img style="width: 50px; left: 0; right: 0; margin-left: 20px; margin-right: 0;"
                            src="./img/meida/tvb.png">
                    </div>

                    <div class="col-2" style="margin-top: 10px; text-align: center">
                        <img style="width: 100px; left: 0; right: 0; margin-left: -20px; margin-right: 0;"
                            src="./img/meida/now.png">
                    </div>
                    <div class="col-2" style="margin-top: 50px;">
                        <img style="width: 80px; left: 0; right: 0; margin-left: -10px; margin-right: 0;"
                            src="./img/meida/viu.png">
                    </div>
                    <div class="col-2" style="margin-top: 40px; text-align: center">
                        <img style="width: 50px; left: 0; right: 0; margin-left: auto; margin-right: 0;"
                            src="./img/meida/rthk.png">
                    </div>
                    <div class="col-2" style="margin-top: 40px; text-align: center">
                        <img style="width: 40px; left: 0; right: 0; margin-left: -40px; margin-right: 0;"
                            src="./img/meida/cable.png">
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>



        <div class="container" data-aos="fade-up" data-aos-duration="2000" style="margin-top: 100px">
            <img src="img/doublestick/1.png"
                style="width: calc(100% + 150px); margin-left: -90px; height: 370px; object-fit: cover; margin-bottom: 100px; margin-top: 10px;"
                class=" d-xs-block d-md-none" />
            <img src="img/closetag.png" style="width: 200px; position: absolute; right: 0px; top: 300px; z-index: -1;"
                class=" d-xs-block d-md-none" />
            <div class="row">
                <div class="col-sm-5">
                    <h1 style="margin-left: 10px;">課程簡介 <img src="img/underline4.png"
                            style="position: absolute; top: -10; width: 250px; left: -16; right: 0; ">
                    </h1>
                    <div style="margin-top: 30px">

                        <div style="margin-bottom: 20px; font-size: 24px;" class="boldtitle">「Be Water, My Friend」</div>
                        雙節棍短小精悍、能屈能伸、變化多端的形態，除了展現了香港人精神外，更能真真正正融入我們的日常生活。

                        <div style="margin-top: 20px; margin-bottom: 20px; font-size: 24px;" class="boldtitle">「人人有棍練！」
                        </div>

                        <div style="margin-bottom: 10px;">
                            就像其他日常運動一樣，耍海綿雙節棍體力要求相當低，也不需要任何武術基礎，由弱質纖纖的女士，小朋友或長者，到年青力壯上班族都適合玩。(課程會附送一套海綿雙節棍</div>

                        <div style="margin-bottom: 10px;">
                            雙節棍着重技巧和手眼協調，以身體和腦部的協調性來帶動頸、背、腰的運用，短時間內促進身心健康之餘，也能醫治普遍都市痛症如寒背。練習場地也沒有特別要求，在家中也能可以舒筋活樂！</div>

                        <div>
                            Jerry劉師傅綜合15年來雙節棍教學經驗，研發出一套獨門教學系統，透過六個課程單元，令我們輕鬆簡單掌握雙節棍的基本應用，令每個人都可以耍出香港人精神！</div>

                    </div>
                    <img class="d-none d-md-block" style="width: 200px;
                    position: absolute;
                    left: -50px;
                    top: 480px;
                    z-index: -1;
                    " src="img/bubble.png" />

                    <img class="d-none d-md-block" style="width: 300px;
 position: absolute;
 left: 150px;
 top: -230px;
 z-index: -1;
 " src="img/oepntag.png" />

                </div>
                <div class="col-sm-7">
                    <img src="img/doublestick/1.png"
                        style="width: 500px; position: absolute; right: -100px; top: -100px"
                        class="d-none d-sm-block" />

                    <img class="d-none d-md-block" style="
              width: 250px;
              position: absolute;
              right: 100px;
              top: 400px;
              z-index: -1;
            " src="img/closetag.png" />


                    <img class="d-none d-md-block" style="
              width: 300px;
              position: absolute;
              right: -100px;
              top: -230;
              z-index: -1;
            " src="img/slash.png" />


                    <!-- <img class="d-none d-md-block" style="
              width: 400px;
              position: absolute;
              right: -200px;
              top: 520px;
              z-index: -1;
            " src="img/slash.png" /> -->
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 200px" data-aos="fade-up" data-aos-duration="2000">
            <img src="img/doublestick/2.png"
                style="width: calc(100% + 150px); margin-left: -90px; height: 500px; object-fit: cover; margin-bottom: 50px; margin-top: -120px; object-position: center top;"
                class=" d-xs-block d-md-none" />
            <div class="row">
                <div class="col-sm">
                    <img src="img/doublestick/2.png" style="width: 500px; position: absolute; left: -100px; top: -100px"
                        class="d-none d-sm-block" />
                </div>
                <div class="col-sm">
                    <h1>課程內容 <img src="img/underline4.png"
                            style="position: absolute; top: -10; width: 250px; left: -24; right: 0; ">
                    </h1>
                    <div style="margin-top: 40px;">*每集課堂會深入淺出並濃縮至10分鐘內，讓學員閃電式學習! </div>
                    <div class="row" style="margin-left: 10px; margin-top: 70px">
                        <div class="col-2">
                            <div id="accordinggroup-course">
                                <h3 onclick="choose_according_course(this,0)" class="myaccording-focus">
                                    #01
                                </h3>
                                <h3 onclick="choose_according_course(this,1)" class="myaccording-nofocus">
                                    #02
                                </h3>
                                <h3 onclick="choose_according_course(this,2)" class="myaccording-nofocus">
                                    #03
                                </h3>
                                <h3 onclick="choose_according_course(this,3)" class="myaccording-nofocus">
                                    #04
                                </h3>
                                <h3 onclick="choose_according_course(this,4)" class="myaccording-nofocus">
                                    #05
                                </h3>
                                <h3 onclick="choose_according_course(this,5)" class="myaccording-nofocus">
                                    #06
                                </h3>
                            </div>
                        </div>
                        <div class="col-10">
                            <div style="margin-left: 20px">
                                <div id="accordingcontent-course">
                                    <h3>李小龍的基本雙節棍招式 [4集]</h3>
                                    <span>打好根基，無論握棍抑或舞動，從最易入手的動作帶領學員學習雙節棍基本功，輕鬆耍出李小龍電影的型格動作。</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-none d-md-block"
            style="text-align: center; height: 60vw; margin-top: 270px;  padding: 0; width: 100%;">
            <img src="img/doublestick/12.png" data-aos="fade-up" data-aos-duration="3000"
                style="position: absolute; width: 100%; z-index: 1; left: 0; right: 0; margin-left: auto; margin-right: auto;" />
            <img src="img/doublestick/9.png" data-aos="fade-up" data-aos-duration="2000"
                style="position: absolute; width: 100%; left: 0; left: 0; right: 0; margin-left: auto; margin-right: auto; z-index: 999;" />
        </div>


        <div class="container d-xs-block d-md-none" style="margin-top: 12%; padding: 0; margin-bottom: 330px">
            <img src="img/doublestick/9.png" data-aos="fade-up" data-aos-duration="3000"
                style="position: absolute; width: 100%; z-index: 999" />
            <img src="img/doublestick/12.png" data-aos="fade-up" data-aos-duration="2000"
                style="position: absolute; width: 100%; left: 0" />
        </div>


        <div class="container d-none d-md-block" data-aos="fade-up" data-aos-duration="2000">
            <h1 style="margin-bottom: -10px; margin-top: 0px;" class=" d-none d-md-block">
                <span> 導師故事<img src="img/underline4.png"
                        style="position: relative; width: 250px; left: -200px; top: 10px;">
                </span>
            </h1>
            <div class="row">
                <div class="col-sm-7">
                    <!-- <h1>「香港人精神係打不死嘅！」</h1> -->
                    <div style="margin-top: 20px">
                        <ul>
                            <li>世界健力士雙節棍記錄創立及保持者</li>
                            <li>香港雙節棍總會創辦人兼總教練</li>
                            <li>WNDA 世界雙節棍道協會•副主席</li>
                            <li>25年耍雙節棍，15年教學經驗</li>
                            <li> 世界各地學員接近6000人</li>
                            <li> 2013年至今帶領學員出席香港及國際賽事獲得100金20銀</li>
                        </ul>
                        <div>
                            劉師傅15年來由零開始一步一步建成香港雙節棍總會，參考了古今中外各個武術教學和運動比賽的系統，研發出圖譜、套路以及自訂考核制度，更研發出一套簡單易學的教學系統，並經香港和國際不同專家的論證和認可。
                        </div>

                    </div>

                    <div style="margin-top: 20px;" class="boldtitle">「世界紀錄保持者 - 從 100 人到剩下 1 人，堅持揮棍傳承下去」
                    </div>
                    <div style="margin-top: 20px">
                        任何運動有起有跌，最初Jerry與一班同道中人成立協會，推廣雙節棍文化，但後來因為大家有了自己的家庭和工作，便逐一退出。雙節棍總會由最初的 100 人，到剩下Jerry獨擔大旗。
                    </div>
                    <div style="margin-top: 10px">
                        同時要兼顧正職和會務，加上資金緊絀，繳交租金和教練費後連開飯也很勉強，令 Jerry 身心俱疲。全憑太太的鼓勵和對雙節棍的執著，Jerry
                        才能繼續堅持，全心全意把這項運動薪火相傳，那怕是一點點的火，也希望能傳承下去。
                    </div>
                    <img src="img/doublestick/11.jpg" style="
              width: 90%;
              margin-left: 0;
              margin-right: auto;
              margin-top: 100px;
              height: 370px;
              object-fit: cover;
            " class="d-none d-md-block" />
                    <img src="img/word/word6.png" style="left: -100px; top: 880px; z-index: 1; width: 400px;"
                        class="backgroundwordimg">
                </div>
                <div class="col-sm-5">
                    <img src="img/doublestick/3.png" style="width: 90%;   margin-left: auto;
               margin-right: 0; " class="d-none d-md-block" />

                    <div style="margin-top: 60px" class="boldtitle">「因為堅持，才見到希望！」
                    </div>
                    <div style="margin-top: 20px">
                        相信以上的簡單介紹也打破你過去對雙節棍的思想框框，近年也越來越多人追隨Jerry學習雙節棍這項運動，因為簡單入門體力要求低，受到不少女生和長者青睞，更有學校列雙節棍為常規體育課堂，重新掀起這項運動的熱潮，耍出一個全新的自己，一起傳承雙節棍靈活多變的精神！
                    </div>

                    <img src="img/doublestick/4.png" style="width: 100%;   margin-left: 0;
                margin-right: auto; margin-top: 50px;" class="d-none d-md-block" />

                </div>
            </div>
        </div>

        <div class="container d-xs-block d-md-none" data-aos="fade-up" data-aos-duration="2000">
            <h1 style="margin-bottom: -20px; margin-top: 20px;" class=" d-xs-block d-md-none">
                <span> 導師故事<img src="img/underline4.png"
                        style="position: relative; width: 250px; left: -40px; top: -60px; margin-bottom: -60px; ">
                </span>
            </h1>
            <div class="row">
                <div class="col-7">
                    <!-- <h1 style="font-size: 20px;" class="boldtitle">「香港人精神係打不死嘅！」</h1> -->
                    <div style="margin-top: 20px">
                        <ul>
                            <li>世界健力士雙節棍記錄創立及保持者</li>
                            <li>香港雙節棍總會創辦人兼總教練</li>
                            <li>WNDA 世界雙節棍道協會•副主席</li>
                            <li>25年耍雙節棍，15年教學經驗</li>
                            <li> 世界各地學員接近6000人</li>
                            <li> 2013年至今帶領學員出席香港及國際賽事獲得100金20銀</li>
                        </ul>
                        <div>
                            劉師傅15年來由零開始一步一步建成香港雙節棍總會，參考了古今中外各個武術教學和運動比賽的系統，研發出圖譜、套路以及自訂考核制度，更研發出一套簡單易學的教學系統，並經香港和國際不同專家的論證和認可。
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <img src="img/doublestick/3.png" style="width: calc(100% + 50px); height: 500px;  margin-top: 50px; margin-left: auto; object-fit: cover;
               margin-right: 0; " class=" d-xs-block d-md-none" />
                    <!-- 
                <img src="img/bus/photo20.png" style="width: 80%;   margin-left: 0;
                margin-right: auto; margin-top: 50px;" class="d-xs-block d-md-none" /> -->

                </div>
            </div>

            <div style="margin-top: 20px" class="boldtitle">「世界紀錄保持者 - 從 100 人到剩下 1 人，堅持揮棍傳承下去」</div>
            <div style="margin-top: 20px">
                任何運動有起有跌，最初Jerry與一班同道中人成立協會，推廣雙節棍文化，但後來因為大家有了自己的家庭和工作，便逐一退出。雙節棍總會由最初的 100 人，到剩下Jerry獨擔大旗。
            </div>
            <div style="margin-top: 10px">
                同時要兼顧正職和會務，加上資金緊絀，繳交租金和教練費後連開飯也很勉強，令 Jerry 身心俱疲。全憑太太的鼓勵和對雙節棍的執著，Jerry
                才能繼續堅持，全心全意把這項運動薪火相傳，那怕是一點點的火，也希望能傳承下去。
            </div>

            <img src="img/word/word6.png" style="
            width: 250px; 
            position: absolute;
            left: -30px;
            top: 1220px;
            z-index: 999;
            " class="d-xs-block d-md-none" />

            <img src="img/doublestick/11.jpg" style="
          width: calc(100% + 150px); 
          margin-left: -70px; 
          margin-right: auto;
          margin-top: 50px;
        " class="d-xs-block d-md-none" />




            <div class="row">
                <div class="col-7">
                    <div style="margin-top: 60px" class="boldtitle">「因為堅持，才見到希望！」
                    </div>
                    <div style="margin-top: 20px">
                        相信以上的簡單介紹也打破你過去對雙節棍的思想框框，近年也越來越多人追隨Jerry學習雙節棍這項運動，因為簡單入門體力要求低，受到不少女生和長者青睞，更有學校列雙節棍為常規體育課堂，重新掀起這項運動的熱潮，耍出一個全新的自己，一起傳承雙節棍靈活多變的精神！
                    </div>

                </div>
                <div class="col-5">

                    <img src="img/doublestick/4.png" style="width: calc(100% + 45px); margin-left: 0px; height: 350px; object-fit: cover; 
        margin-right: auto; margin-top: 100px; object-fit: cover;" class="d-xs-block d-md-none" />

                </div>
            </div>
        </div>


        <div class="container d-none d-md-block" style="margin-top: 130px; margin-bottom: 650px;" data-aos="fade-up"
            data-aos-duration="2000">
            <div class=" d-none d-md-block"
                style="text-align: center; width: 70%; left: 0; right: 0; margin-left: auto; margin-right: auto;">
                <h1>「破格雙節棍，耍出香港人精神！<br>令我吔人生發光發亮！」
                </h1>
                <div style="text-align: right; margin-right: 80px; font-size: 25px; font-weight: bold;">——
                    Jerry 劉師傅
                </div>
            </div>


            <img src="img/doublestick/5.png" style="width: 350px; left: 100px;
      margin-top: 50px; position: absolute;" class="d-none d-md-block" />
            <img src="img/doublestick/6.png" style="width: 600px; right: -200px;
     margin-top: 150px; position: absolute;" class="d-none d-md-block" />


            <!-- <div class="backgroundword d-none d-md-block" style="font-size: 50px; right: 320px;
top: 580px; position: absolute;">
            香港人精神
        </div> -->

            <img class="backgroundwordimg" src="img/word/word4.png" style="width: 400px;right: 120px;
        top: 580px; z-index: 1">


        </div>

        <div class="container d-xs-block d-md-none" style="margin-top: 50px;  margin-bottom: 400px" data-aos="fade-up"
            data-aos-duration="2000">

            <div class="d-xs-block d-md-none"
                style="width: 100%; left: 0; right: 0; margin-left: auto; margin-right: auto; ">
                <h1 style="font-size: 21px;">「破格雙節棍，耍出香港人精神！<br>令我吔人生發光發亮！」</h1>
                <div style="text-align: right; margin-right: 20px; font-size: 16px; font-weight: bold;">——
                    Jerry 劉師傅
                </div>
            </div>


            <img src="img/doublestick/5.jpg" style="width: 140px; left: -10px;
margin-top: 40px; position: absolute;" class=" d-xs-block d-md-none" />
            <img src="img/doublestick/6.png" style="width: 250px; right: -20px;
margin-top: 120px; position: absolute;" class=" d-xs-block d-md-none" />


            <img src="./img/word/word4.png" class="backgroundwordimg" class=" d-xs-block d-md-none" style="right: -20px; width: 250px;
        top: 140px; position: absolute; ">

        </div>


        <div class="container" data-aos="fade-up" data-aos-duration="2000" style="text-align: center;">
            <img class="d-none d-md-block" style="width: 450px; position: absolute; left: -50px; top: -230px"
                src="img/oepntag.png" />

            <img class="d-xs-block d-md-none" style="width: 250px; position: absolute; left: -50px; top: -150px"
                src="img/oepntag.png" />


            <h1 style="margin-bottom: 50px" data-aos="fade-up" data-aos-duration="2000">
                學員見證
                <img src="img/underline4.png"
                    style="position: absolute; top: -10; width: 250px; left: 10; right: 0; margin-left: auto; margin-right: auto;">
            </h1>
            <div>

            </div>
            <div class="gallery js-flickity" style="width: 100%; margin-left: 0; margin-right: 0; margin-top: 50px;">
                <div class="gallery-cell">
                    <img style="width: 100%" src="img/doublestick/students/9.jpg" />
                </div>
                <div class="gallery-cell">
                    <img style="width: 100%" src="img/doublestick/students/5.png" />
                </div>
                <div class="gallery-cell">
                    <img style="width: 100%" src="img/doublestick/students/1.png" />
                </div>
                <div class="gallery-cell">
                    <img style="width: 100%" src="img/doublestick/students/2.png" />
                </div>
                <div class="gallery-cell">
                    <img style="width: 100%" src="img/doublestick/students/3.png" />
                </div>
                <div class="gallery-cell">
                    <img style="width: 100%" src="img/doublestick/students/4.png" />
                </div>
                <div class="gallery-cell">
                    <img style="width: 100%" src="img/doublestick/students/6.png" />
                </div>
                <div class="gallery-cell">
                    <img style="width: 100%" src="img/doublestick/students/7.png" />
                </div>
                <div class="gallery-cell">
                    <img style="width: 100%" src="img/doublestick/students/8.png" />
                </div>

            </div>
        </div>



        <div class="container" style="margin-top: 200px;">
            <img src="img/doublestick/7.png"
                style="width: calc(100% + 150px); margin-left: -90px; height: 300px; object-fit: cover; margin-bottom: 50px;  margin-top: -100px; z-index: 10; position: relative;"
                class=" d-xs-block d-md-none" />
            <img src="img/bubble.png"
                style="width: 200px; position: absolute; right: 0px;  z-index: 1; margin-top: -130px;"
                class=" d-xs-block d-md-none" />
            <div class="row">
                <div class="col-sm-5">
                    <h1 style="margin-bottom: 50px;">課程解鎖活動 <img src="img/underline4.png"
                            style="position: absolute; top: -40; width: 370px; left: -45; right: 0;  ">
                    </h1>
                    <div class="d-none d-md-block" style="margin-top: 30px">
                        當課程突破500學員的時候，導師會有額外送贈學員的Bonus教學影片！向學員傳授手指收棍，撥浪鼓，手掌反彈等招式，馬上成為視覺高手!
                    </div>

                    <div class=" d-xs-block d-md-none" style="margin-top: 30px">
                        <div class="row">
                            <div class="col-6">
                                <div>
                                    當課程突破500學員的時候，導師會有額外送贈學員的Bonus教學影片！向學員傳授手指收棍，撥浪鼓，手掌反彈等招式，馬上成為視覺高手!
                                </div>
                            </div>
                            <div class="col-6">
                                <img src="img/doublestick/8.png" style="width: 100%; margin-left: 20px;" alt="">
                            </div>
                        </div>
                    </div>

                    <img src="img/doublestick/8.png" style="
              width: 500px;
              margin-left: -200px;
              margin-right: auto;
              margin-top: 100px;
            " class="d-none d-sm-block" />
                </div>
                <div class="col-sm-7">

                    <img src="img/doublestick/7.png"
                        style="width: 800px; height: 800px; position: absolute; right: 0px; top: -100px; position: relative; z-index: 10; object-fit: cover; object-position: right center;"
                        class="d-none d-sm-block" />


                    <img class="d-none d-md-block" style="
              width: 400px;
              position: absolute;
              right: -100px;
              top: 520px;
              z-index: 1;
            " src="img/bubble.png" />
                </div>
            </div>
        </div>


        <div class="container">
            <h1 style="margin-bottom: 20px; margin-top: 50px;">
                <span class=" d-none d-md-block"> 常見問題<img src="img/underline4.png"
                        style="position: relative; width: 250px; left: -200px; top: 10px;">
                </span>

                <span style="margin-left: 20px;" class=" d-xs-block d-md-none"> 常見問題<img src="img/underline4.png"
                        style="position: relative; width: 250px; left: -20px; top: -50px; margin-bottom: -60px;">
                </span>
            </h1>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Q1: 什麼時候可以開始上課？
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            早鳥優惠預購課程時間結束後，課程將會分階段陸續上架。
                            <br><br>
                            實際開課日將會透過短訊或電郵通知大家！<br>
                            課程是預錄好的網上課程，你不會錯過任何精心製作的內容。 你可以在有空的時候觀看和複習。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                Q2: 請問上課地點? 上課時間?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            上課形式以觀看預先錄製好的影片進行，以確保課程內容製作高品質，更配上中文字幕方便世界各地華人觀看，讓學員更快、更精準學習。<br><br>

                            課程上線後，你可以隨時隨地透過手機、平板、或電腦登入學員專區觀看課程影片，沒有時間和地點的限制。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                Q3: 香港以外可以報名嗎？
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            絕對可以！任何國家都能網上觀看課程。課程視頻以預先錄製模式，打破任可時差地域限制。學員可以隨自己學習進度安排時間上課。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseThree">
                                Q4: 請問課程可以看多久？看幾次？
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            可永久、無限次數觀看課程內容。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                                aria-expanded="false" aria-controls="collapseFive">
                                Q5: 學習時遇到困難怎樣解決？
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            隨時可以到學員討論專區發問，導師會同學員互動親自解答。歡迎你一起加入學員討論專區與老師和同學一起互動。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                                aria-expanded="false" aria-controls="collapseSix">
                                Q6: 上課前，需要自備工具嗎？
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                        <div class="card-body">
                            課程附送一套海綿雙節棍，報名時請填妥準確個人資料和郵寄地址後，《好想學》會安排將課程材料送到你指定的地址內（郵寄時間：香港大約10日 / 海外大約20日）
                            <br><br>
                            *郵寄時間若有調整，將會透過短訊或電郵通知學員!

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSeven">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven"
                                aria-expanded="false" aria-controls="collapseSeven">
                                Q7: 購買後可以與朋友使用同一個帳戶共享課程嗎？
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                        <div class="card-body">
                            很高興你喜歡並選擇我們的課程，相信導師的心血、知識及專業已經得到你認同。為了能提供高品質的教學成效，每一堂課程都需要導師及課程團隊用長時間的人力心力與資源才可以完成，希望可以與更多志同道合的學員分享，同時亦希望你能夠出一分力維護你所支持導師權益，好讓技能繼續傳承。<br><br>

                            另外，多帳戶共用並觀看課程會違反《好想學》的會員使用條款，如經查實有此事，《好想學》保留取消學員資格等權利。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight"
                                aria-expanded="false" aria-controls="collapseEight">
                                Q8: 其他問題？
                            </button>
                        </h5>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                        <div class="card-body">
                            可以私訊《好想學》社交媒體，或歡迎你電郵到 hello@wewannalearn.com
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container  d-none d-md-block">

            <div class="d-flex justify-content-between">

                <a class="navbar-brand" href="#"><img src="logo.png" class=" d-none d-md-block"
                        style="width: 200px;" /><img src="logo.png" class=" d-xs-block d-md-none"
                        style="width: 180px;" /></a>


                <div class="d-flex justify-content-around">

                    <a class="footerlink" href="/#aboutus">有關我們</a>
                    <a class="footerlink" href="/#tutor">導師介紹</a>
                    <a class="footerlink" href="/Minibus-Sign-Calligraphy#questions">常見問題 </a>

                </div>

                <div class="d-flex justify-content-around" style="margin-top: -15px;">

                    <a href="https://www.facebook.com/wewannalearnofficial"><img class="footerlinkicon"
                            src="img/socialicon/fb-white.png"></a>
                    <a href="https://www.instagram.com/wewannalearn/"><img class="footerlinkicon"
                            src="img/socialicon/ig-white.png"></a>


                </div>
                <!-- <a class="navbar-brand" href="#"><img src="logo.png" class=" d-none d-md-block" style="width: 250px;" /><img
                        src="logo.png" class=" d-xs-block d-md-none" style="width: 180px;" />
                </a> -->


            </div>
        </div>

        <div class="container d-xs-block d-md-none">

            <div class="" style="text-align: center;">

                <a class="navbar-brand" href="#"><img src="logo.png" class=" d-xs-block d-md-none"
                        style="width: 180px;" /></a><br>



                <a class="footerlink_mobile" href="/#aboutus">有關我們</a>
                <a class="footerlink_mobile" href="/#tutor">導師介紹</a>
                <a class="footerlink_mobile" href="/Minibus-Sign-Calligraphy#questions">常見問題 </a>


                <div class="flex justify-center" style="margin-top: -10px; margin-bottom: 50px;">

                    <a href="https://www.facebook.com/wewannalearnofficial"><img class="footerlinkicon_mobile"
                            src="img/socialicon/fb-white.png"></a>
                    <a href="https://www.instagram.com/wewannalearn/"><img class="footerlinkicon_mobile"
                            src="img/socialicon/ig-white.png"></a>


                </div>
                <!-- <a class="navbar-brand" href="#"><img src="logo.png" class=" d-none d-md-block" style="width: 250px;" /><img
                        src="logo.png" class=" d-xs-block d-md-none" style="width: 180px;" />
                </a> -->


            </div>
        </div>

    </div>
    <div
        style="text-align: center; width: 100%; margin-top: 30px; margin-bottom: 100px; padding-left: 20px; padding-right: 20px;">
        We Wanna Learn Co., Limited ©️
        2022 All Rights Reserved</div>
    <script>
        AOS.init();
        const according_words = [
            `<h3>李小龍的基本雙節棍招式 [4集]</h3>
                            <span>打好根基，無論握棍抑或舞動，從最易入手的動作帶領學員學習雙節棍基本功，輕鬆耍出李小龍電影的型格動作。</span>`,
            `<h3>升級學習現實世界中的入門棍法 [6集]</h3>
                            <span>掌握基礎後，透過簡單花式加強左右腦協調，提升觸感與距離感，將雙節棍動作與身體慢慢融合，升「呢」學習其他現代感招式和棍法。</span>`,
            `<h3>  有一種Lifestyle叫做雙節棍 [3集]</h3>
                            <span>配合日常生活用品，如毛巾、T恤 、外套 、絲巾等，練習雙節棍攻防意識，無論演練抑或隨意訓練，一樣沒有遺和感，把雙節棍融入生活！</span>`,
            `<h3>  雙節棍 Crossover瑜伽養生動作 feat.專業瑜伽導師 [4集]</h3>
                            <span>呈現雙節棍的靈活性， 與瑜伽動作 Crossover 提升趣味 - 借用雙節棍道具，強化一般以瑜伽帶不夠全面的弱點，更可以透過雙節棍與瑜伽動作，加強柔軟度，提升身體柔韌性，舒緩身體及提升拉筋效果，配合呼吸，讓你同時養生養心。</span>`,
            `<h3>  耍棍養生伸展動作 feat.專業痛症舒緩專家 [4集]</h3>
                            <span>針對肩，頸僵硬痛，舒緩與拉松上身肌肉，以獨創易學的雙節棍拉筋12式馬上舒緩痛癥。把雙節棍招式融入伸展動作，強化局部肌肉和糾正日常錯誤姿勢，預防錯誤用力chok到拉到肌肉，舒緩都市人常見的肩頸腰痛症。</span>`,
            `<h3>  網上打卡12式 [4集]</h3>
                            <span>以12式專為影相而設的耍棍姿勢向朋友展示全新形象，最適合放上網絡平台秒速呃like。影靚相之餘，仲可以真真正正耍出香港人精神！成為一個Brand new me！</span>`,
        ];

        function choose_according_course(x, y) {
            console.log(x);
            document
                .getElementById("accordinggroup-course")
                .getElementsByClassName("myaccording-focus")[0]
                .classList.add("myaccording-nofocus");
            document
                .getElementById("accordinggroup-course")
                .getElementsByClassName("myaccording-focus")[0]
                .classList.remove("myaccording-focus");
            x.classList.remove("myaccording-nofocus");
            x.classList.add("myaccording-focus");
            document.getElementById("accordingcontent-course").innerHTML =
                according_words[y];
        }

        function switchphoto_mousin(x) {
            x = x.getElementsByTagName("img")[0];
            if (x.src.indexOf("before") != -1) {
                x.src = x.src.split("before").join("after");
            }
        }

        function switchphoto_mousout(x) {
            x = x.getElementsByTagName("img")[0];
            if (x.src.indexOf("after") != -1) {
                x.src = x.src.split("after").join("before");
            }
        }

        function closepopup(x) {
            console.log(x)
            document.getElementById(x).style.display = "none"
            document.getElementById('alldiv').classList.remove('blurbackground')
        }

        function outfopopup() {
            if (document.getElementById('alldiv').classList.contains('blurbackground')) {
                document.getElementById('alldiv').classList.remove('blurbackground')
                document.getElementById("desktoppopup").style.display = "none"
                document.getElementById("mobilepopup").style.display = "none"
            }

        }
        function joincourse() {
            document.getElementById('alldiv').classList.add('blurbackground')
            document.getElementById('desktoppopup').hidden = false
            document.getElementById('mobilepopup').hidden = false
            document.getElementById("desktoppopup").style.display = "block"
            document.getElementById("mobilepopup").style.display = "block"
        }

        function checkurl() {
            if (window.location.href.indexOf("#buy") != -1) {
                joincourse()
            }
        }
        checkurl()
    </script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js"></script>

</body>

</html>