<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css" rel="stylesheet" />

    <style>
        html {
            background: #fd5e34;
            color: #fff;
        }

        body {
            background: #fd5e34;
            color: #fff;
            /* padding: 40px; */
            width: 100%;
            /* overflow-x: hidden; */
        }

        .myunderline {
            border-bottom: 4px solid white;
            padding-bottom: 4px;
            display: inline-block;
            /* border-radius: 10px; */
        }

        .myaccording-focus {
            opacity: 1;
        }

        .myaccording-nofocus {
            opacity: 0.5;
        }

        .myaccording-nofocus:hover {
            opacity: 0.5;
            cursor: pointer;
        }

        h3 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
        }



        .gallery {
            background: none;
        }

        .gallery-cell {
            width: 300px;
            /* height: 200px; */
            margin-right: 10px;
        }

        .gallery-cell.dot {
            background-color: white;
        }

        .gallery-cell.is-selected {}

        /* cell number */
        .gallery-cell:before {
            display: block;
            text-align: center;
            line-height: 200px;
            font-size: 80px;
            color: white;
        }

        .collapse,
        .btn,
        .btn-link,
        .collapsed,
        .card,
        .card-header {
            background: #fd5e34;
            color: white;
        }

        .backgroundword {
            font-family: backgroundword;
            font-size: 70px;
            opacity: .6;
            position: absolute;
            z-index: 1;
        }


        .bluesubtitle {
            background: #007bff;
            display: inline-block;
            padding: 5px 10px;
            /* border-radius: 4px; */
        }

        .boldtitle {
            font-weight: bold;
            font-size: 20px;
        }

        .backgroundwordimg {
            position: absolute;
            z-index: 1;
        }


        .gallery {
            background: none;
        }

        .gallery-cell {
            width: 300px;
            height: 300px;
            overflow: hidden;
            margin-right: 10px;
        }

        .gallery-cell.dot {
            background-color: white;
        }

        .gallery-cell.is-selected {}

        /* cell number */
        .gallery-cell:before {
            display: block;
            text-align: center;
            line-height: 200px;
            font-size: 80px;
            color: white;
        }

        .footerlink_mobile {
            color: white;
            margin-right: 10px;
            margin-top: 0px;
        }


        .footerlink {
            color: white;
            margin-right: 50px;
            margin-top: 50px;
        }

        .footerlinkicon {
            margin-top: 50px;
            width: 50px;
        }

        .footerlinkicon_mobile {
            margin-top: 30px;
            width: 30px;
        }
    </style>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
    <div style="position: relative; overflow-x: hidden; overflow-y: hidden;">
        <nav class="navbar navbar-expand-lg navbar-dark" style=" z-index: 999">
            <a class="navbar-brand" href="#"><img src="logo.png" class=" d-none d-md-block" style="width: 250px;" /><img
                    src="logo.png" class=" d-xs-block d-md-none" style="width: 180px;" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto" style="backdrop-filter: blur(200px);">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">有關我們 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">導師介紹</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container  d-xs-block d-md-none ">
            <img class=" d-xs-block d-md-none "
                style="width: calc(100% + 150px); margin-left: -90px;  margin-bottom: 50px;"
                src="./img/saurce/header1mobile.png">
            <div class="row">
                <div class="col-sm" style="z-index: 100">
                    <h1 style="font-size: 25px; font-weight: bold;">「無論去到邊度，您都可以快靚正煮出香港味道！」</h1>
                    <h2 style="margin-top: 30px; font-size: 18px;  font-weight: bold;">
                        <span class="myunderline">搵食達人/香港醬油世家第三代｜Keith Ku
                        </span>
                    </h2>
                    <span>品嚐到美味的家常菜是我們一生其中最幸福窩心的事情。Keith秉承了80多年香港醬油世家的精粹，將對香港味道的一份愛融合於傳統加創新的獨門快靚正煮食系統，讓每個人都可以簡單快捷煮出回味無窮的香港味道！

                    </span>
                </div>

            </div>
        </div>


        <div class="container d-none d-md-block" style="margin-top: 50px;">
            <div class="row">
                <div class="col-sm" style="z-index: 100">
                    <h1 style="font-size: 50px;">「無論去到邊度，<br>您都可以快靚正<br>煮出香港味道！」</h1>
                    <h2 style="margin-top: 100px">
                        <span style="font-size: 23px;" class="myunderline">搵食達人/香港醬油世家第三代｜Keith Ku
                        </span>
                    </h2>
                    <span>品嚐到美味的家常菜是我們一生其中最幸福窩心的事情。Keith秉承了80多年香港醬油世家的精粹，將對香港味道的一份愛融合於傳統加創新的獨門快靚正煮食系統，讓每個人都可以簡單快捷煮出回味無窮的香港味道！
                    </span>
                </div>
                <div class="col-sm">
                    <img src="img/saurce/header1.png" style="
              width: 1100px;
              position: absolute;
              right: -150px;
              top: -50px;
              z-index: 0;
            " class="d-none d-md-block" />
                </div>
            </div>
        </div>

        <img style="width: 450px; position: absolute; left: -50px" class=" d-none d-md-block " src="img/bubble.png" />

        <div data-aos="fade-up" data-aos-duration="2000" class="container  d-none d-md-block "
            style="max-width: 1000px; margin-top: 50px; height: 650px;" data-aos="fade-up" data-aos-duration="2000">
            <div class="row">
                <div class="col-sm">
                    <div style="padding: 900px 0 0 0;" class="">
                        <iframe
                            src="https://player.vimeo.com/video/624555113?h=e797a3a6a7&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                            frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              " title="_雙節棍Promo Video（中文）.mp4"></iframe>
                    </div>


                </div>
            </div>
        </div>

        <div data-aos="fade-up" data-aos-duration="2000" class="container  d-xs-block d-md-none"
            style="width: 100%; margin-top: 0px; height: 150px;" data-aos="fade-up" data-aos-duration="2000">
            <div class="row">
                <div class="col-sm">
                    <div style="padding: 900px 0 0 0; margin-left: 0px;  transform: scale(1.5);" class=" ">
                        <iframe
                            src="https://player.vimeo.com/video/624555113?h=e797a3a6a7&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                            frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            margin-top: 200px;
          " title="_雙節棍Promo Video（中文）.mp4"></iframe>
                    </div>
                </div>
            </div>
        </div>



        <div class="container" style="margin-top: 200px" data-aos="fade-up" data-aos-duration="2000">
            <img style="width: 250px; position: absolute; left: -50px; top: -100px;" src="img/oepntag.png" />
            <div class="row justify-content-center">
                <div class="col-sm" style="max-width: 80%; text-align: center">
                    <h1 style="margin-bottom: 40px">
                        <span> 媒體報導 <img src="img/underline4.png"
                                style="position: absolute; top: -10; width: 250px; left: 10; right: 0; margin-left: auto; margin-right: auto;">
                        </span>
                    </h1>
                    手寫小巴牌的意義除了是集體回憶和玩味潮流外，更是引領和提醒我們在人生路上前進的座右銘，透過唯一一個官方小巴牌製作網上課程，大家都可以勾劃出屬於自己人生故事的字句，將精神注入獨一無二的手寫小巴牌當中，在人生快樂或迷失的時候都可以陪伴我們左右。
                    <div class="d-none d-md-block" style="margin-bottom: 100px;">
                        <div class="row">
                            <div class="col-sm" style="margin-top: 50px;">
                                <img style="width: 130px;" src="./img/meida/viu.png">
                            </div>
                            <div class="col-sm" style="margin-top: 10px;">
                                <img style="width: 130px;" src="./img/meida/now.png">
                            </div>
                            <div class="col-sm" style="margin-top: 25px;">
                                <img style="width: 80px;" src="./img/meida/tvb.png">
                            </div>
                            <div class="col-sm" style="margin-top: 40px;">
                                <img style="width: 70px;" src="./img/meida/rthk.png">
                            </div>
                            <div class="col-sm" style="margin-top: 20px;">
                                <img style="width: 70px;" src="./img/meida/cable.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-xs-block d-md-none">
                <div class="row" style="width: calc(100% + 150px); margin-left: -75px;">
                    <div class="col-1"></div>
                    <div class="col-2" style="margin-top: 50px;">
                        <img style="width: 80px; left: 0; right: 0; margin-left: auto; margin-right: 0;"
                            src="./img/meida/viu.png">
                    </div>
                    <div class="col-2" style="margin-top: 10px; text-align: center">
                        <img style="width: 100px; left: 0; right: 0; margin-left: auto; margin-right: 0;"
                            src="./img/meida/now.png">
                    </div>
                    <div class="col-2" style="margin-top: 35px; text-align: center">
                        <img style="width: 50px; left: 0; right: 0; margin-left: auto; margin-right: 0;"
                            src="./img/meida/tvb.png">
                    </div>
                    <div class="col-2" style="margin-top: 40px; text-align: center">
                        <img style="width: 50px; left: 0; right: 0; margin-left: auto; margin-right: 0;"
                            src="./img/meida/rthk.png">
                    </div>
                    <div class="col-2" style="margin-top: 40px; text-align: center">
                        <img style="width: 40px; left: 0; right: 0; margin-left: auto; margin-right: 0;"
                            src="./img/meida/cable.png">
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>





        <div class="container" data-aos="fade-up" data-aos-duration="2000">
            <img src="img/saurce/1.png"
                style="width: calc(100% + 150px); margin-left: -90px; height: 300px; object-fit: cover; margin-bottom: 100px; margin-top: 50px;"
                class=" d-xs-block d-md-none" />
            <img src="img/closetag.png" style="width: 200px; position: absolute; right: 0px; top: 300px; z-index: -1;"
                class=" d-xs-block d-md-none" />
            <div class="row">
                <div class="col-sm-5">
                    <h1>課程簡介 <img src="img/underline4.png"
                            style="position: absolute; top: -10; width: 250px; left: -24; right: 0; ">
                    </h1>
                    <div class="d-none d-md-block" style="margin-top: 30px; margin-bottom: 400px;">

                        「唔止教識你煮一道菜咁簡單！」
                        <br><br>
                        由選取親民簡單的食材為核心基礎，到煮飯前的醃肉秘訣，烹調菜式時的每一個步驟和獨門調味技巧，如自製醬汁等，整個過程都會系統化地一一全面傳授給您！而當中的獨門理念和技巧更可令學員得到啟發和學以致用於其他食材和菜式。
                        <br><br>
                        「喺有限時間內，煮出百變星君嘅香港味道！」
                        <br><br>
                        綜合多年的心思和經驗，研發出一套配合都市人忙碌的生活節奏的快靚正煮食系統。透過課程內六個單元系統，讓你在有限食材和極短時間的情況下學會烹調出變化多端的美味家常菜。

                    </div>
                    <div class=" d-xs-block d-md-none" style="margin-top: 30px;"">
                        「唔止教識你煮一道菜咁簡單！」
                        <br><br>
                        由選取親民簡單的食材為核心基礎，到煮飯前的醃肉秘訣，烹調菜式時的每一個步驟和獨門調味技巧，如自製醬汁等，整個過程都會系統化地一一全面傳授給您！而當中的獨門理念和技巧更可令學員得到啟發和學以致用於其他食材和菜式。
                        <br><br>
                        「喺有限時間內，煮出百變星君嘅香港味道！」
                        <br><br>
                        綜合多年的心思和經驗，研發出一套配合都市人忙碌的生活節奏的快靚正煮食系統。透過課程內六個單元系統，讓你在有限食材和極短時間的情況下學會烹調出變化多端的美味家常菜。
                    </div>


                </div>
                <div class=" col-sm-7">
                        <img src="img/saurce/1.png" style="width: 100%; position: absolute; right: -100px; top: -100px"
                            class="d-none d-sm-block" />

                        <img class="d-none d-sm-block" style="
              width: 400px;
              position: absolute;
              left: -130px;
              top: 450px;
              z-index: -1;
            " src="img/closetag.png" />

                        <img class="d-none d-sm-block" style="
              width: 400px;
              position: absolute;
              right: -200px;
              top: 520px;
              z-index: -1;
            " src="img/slash.png" />
                    </div>
                </div>
            </div>

            <div class="container" style="margin-top: 100px" data-aos="fade-up" data-aos-duration="2000">
                <img src="img/saurce/2.png"
                    style="width: calc(100% + 150px); margin-left: -90px; height: 300px; object-fit: cover; margin-bottom: 50px;"
                    class=" d-xs-block d-md-none" />
                <div class="row">
                    <div class="col-sm">
                        <img src="img/saurce/2.png" style="width: 115%; position: absolute; left: -100px; top: -100px"
                            class="d-none d-sm-block" />
                        <img class="d-none d-sm-block" style="width: 230px; position: absolute; right: 50px; top: 550px"
                            src="img/bubble.png" />
                    </div>
                    <div class="col-sm">
                        <h1>課程內容 <img src="img/underline4.png"
                                style="position: absolute; top: -10; width: 250px; left: -24; right: 0; ">
                        </h1>
                        <div class="row" style="margin-left: 10px; margin-top: 70px">
                            <div class="col-2">
                                <div id="accordinggroup-course">
                                    <h3 onclick="choose_according_course(this,0)" class="myaccording-focus">
                                        #01
                                    </h3>
                                    <h3 onclick="choose_according_course(this,1)" class="myaccording-nofocus">
                                        #02
                                    </h3>
                                    <h3 onclick="choose_according_course(this,2)" class="myaccording-nofocus">
                                        #03
                                    </h3>
                                    <h3 onclick="choose_according_course(this,3)" class="myaccording-nofocus">
                                        #04
                                    </h3>
                                    <h3 onclick="choose_according_course(this,4)" class="myaccording-nofocus">
                                        #05
                                    </h3>
                                    <h3 onclick="choose_according_course(this,5)" class="myaccording-nofocus">
                                        #06
                                    </h3>
                                </div>
                            </div>
                            <div class="col-10">
                                <div style="margin-left: 20px">
                                    <div id="accordingcontent-course">
                                        <h3>瑞士汁 (4集）</h3>
                                        <span>瑞士汁大家就食得多，但究竟如何做到一個好味嘅瑞士汁？今集會教你製作一個與別不同的瑞士汁，醬汁香濃兼帶有層次感，仲可以保存一年慢慢用！絕對有別於市場上買到的工廠現成醬料！今集更會分享給你除了經典港式瑞士雞翼之外，還可以有什麼其他食物配搭，例如是瑞士汁炒牛肉配煎米底、瑞士汁珍肝等等。
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-none d-md-block"
                style="text-align: center; height: 60vw; margin-top: 43vw;  padding: 0; width: 100%;">
                <img src="img/saurce/11.png" data-aos="fade-up" data-aos-duration="3000"
                    style="position: absolute; width: 100%; z-index: 999; left: 0; right: 0; margin-left: auto; margin-right: auto;" />
                <img src="img/saurce/17.png" data-aos="fade-up" data-aos-duration="2000"
                    style="position: absolute; width: 100%; left: 0; left: 0; right: 0; margin-left: auto; margin-right: auto;" />
            </div>


            <div class="container d-xs-block d-md-none" style="margin-top: 12%; padding: 0; margin-bottom: 230px">
                <img src="img/saurce/11.png" data-aos="fade-up" data-aos-duration="3000"
                    style="position: absolute; width: 100%; z-index: 999" />
                <img src="img/saurce/17.png" data-aos="fade-up" data-aos-duration="2000"
                    style="position: absolute; width: 100%; left: 0" />
            </div>


            <div class="container d-none d-md-block" data-aos="fade-up" data-aos-duration="2000">
                <div class="row">
                    <div class="col-sm-7">

                        <div>
                            -2018最具創意廚藝網紅奬(冠軍)<br>
                            -2020美思工房一COOK成名(亞軍)<br>
                            -古家私房菜主理人<br>
                            -活躍於Foodie 及 Blogger界<br>

                        </div>
                        <h1 style="margin-top: 20px">「香港製造· 醬人精神」</h1>

                        <div style="margin-top: 20px">
                            具有80多年家族歷史的鉅利醬油廠面臨政府因發展收地遷折，餘下的日子在倒數中。《鉅利醬油》是香港僅存的老字號，以傳統天然醬油製法堅持80載，老醬油園內的陳年大瓦缸承載了傳統的香港味道。這份家傳戶曉的味道陪伴着香港人成長，本地嘴刁名人如蘇絲黃、蔡一傑、肥媽和鼎爺等多年來也極力支持。

                        </div>


                        <img src="img/saurce/4.png" style="
              width: 90%;
              margin-left: 0;
              margin-right: auto;
              margin-top: 100px;
            " class="d-none d-md-block" />
                        <img src="img/word/word7.png" style="left: -70px; top: 600px; z-index: 1; width: 400px;"
                            class="backgroundwordimg">
                        <img src="img/oepntag.png" style="left: -170px; top: 800px; z-index: 1; width: 450px;"
                            class="backgroundwordimg">
                    </div>
                    <div class="col-sm-5">
                        <img src="img/saurce/3.png" style="width: 90%;   margin-left: auto;
               margin-right: 0; " class="d-none d-md-block" />


                        <div style="margin-top: 20px">
                            <div style="margin-top: 20px" class="boldtitle">
                                「就算有日香港手作醬油工業沒落，仍然堅信仲可以承傳香港味道！」
                            </div>
                            <div style="margin-top: 20px">
                                作為醬油世家第三代，Keith秉承了堅守香港味道的精粹，更加有一份責任感將香港味道延續下去，甚至注入創新方法將香港味道昇華。在醬油世家的薰陶下，Keith從小對食物味道有著特別的講究，非常擅長捐窿捐罅搵好嘢食，更成為本地真材實料的食評專家。其後Keith更建立古家私房菜，用心下廚煮食，日以繼夜鑽研獨門的烹調方法務求做到心目中認為好的味道！能夠令家人和朋友食到舔舔脷同流露出滿足嘅笑容就是他最大的煮食原動力，志在透過課程將這份香港味道分享開去。

                            </div>
                        </div>

                        <img src="img/saurce/5.png" style="width: 80%;   margin-left: 0;
                margin-right: auto; margin-top: 50px;" class="d-none d-md-block" />

                    </div>
                </div>
            </div>

            <div class="container d-xs-block d-md-none" data-aos="fade-up" data-aos-duration="2000">
                <div class="row">
                    <div class="col-7">
                        <div style="margin-top: 50px;">
                            -2018最具創意廚藝網紅奬(冠軍)<br>
                            -2020美思工房一COOK成名(亞軍)<br>
                            -古家私房菜主理人<br>
                            -活躍於Foodie 及 Blogger界<br>
                        </div>

                    </div>
                    <div class="col-5">
                        <img src="img/saurce/3.png" style="width: calc(100% + 50px);   margin-top: 50px; margin-left: auto; object-fit: cover;
               margin-right: 0; " class=" d-xs-block d-md-none" />
                        <!-- 
                <img src="img/bus/photo20.png" style="width: 80%;   margin-left: 0;
                margin-right: auto; margin-top: 50px;" class="d-xs-block d-md-none" /> -->

                    </div>
                </div>

                <h1 style="font-size: 20px; margin-top: 20px" class="boldtitle">「香港製造· 醬人精神」</h1>
                <div style="margin-top: 20px">
                    具有80多年家族歷史的鉅利醬油廠面臨政府因發展收地遷折，餘下的日子在倒數中。《鉅利醬油》是香港僅存的老字號，以傳統天然醬油製法堅持80載，老醬油園內的陳年大瓦缸承載了傳統的香港味道。這份家傳戶曉的味道陪伴着香港人成長，本地嘴刁名人如蘇絲黃、蔡一傑、肥媽和鼎爺等多年來也極力支持。

                </div>

                <img src="img/word/word7.png" style="
            width: 250px; 
            position: absolute;
            left: 0;
            top: 860px;
            " class="d-xs-block d-md-none" />

                <img src="img/saurce/4.png" style="
          width: calc(100% + 150px); 
          margin-left: -90px; 
          margin-right: auto;
          margin-top: 50px;
        " class="d-xs-block d-md-none" />




                <div class="row">
                    <div class="col-7">
                        <div style="margin-top: 60px" class="boldtitle">
                            「就算有日香港手作醬油工業沒落，仍然堅信仲可以承傳香港味道！」
                        </div>

                        <div style="margin-top: 20px">
                            作為醬油世家第三代，Keith秉承了堅守香港味道的精粹，更加有一份責任感將香港味道延續下去，甚至注入創新方法將香港味道昇華。在醬油世家的薰陶下，Keith從小對食物味道有著特別的講究，非常擅長捐窿捐罅搵好嘢食，更成為本地真材實料的食評專家。其後Keith更建立古家私房菜，用心下廚煮食，日以繼夜鑽研獨門的烹調方法務求做到心目中認為好的味道！能夠令家人和朋友食到舔舔脷同流露出滿足嘅笑容就是他最大的煮食原動力，志在透過課程將這份香港味道分享開去。

                        </div>

                    </div>
                    <div class="col-5">

                        <img src="img/saurce/5.png" style="width: calc(100% + 45px); margin-left: 0px; object-fit: cover; height: 550px; 
        margin-right: auto; margin-top: 100px; object-fit: cover;" class="d-xs-block d-md-none" />

                    </div>
                </div>
            </div>


            <div class="container d-none d-md-block" style="margin-top: 130px; margin-bottom: 650px;" data-aos="fade-up"
                data-aos-duration="2000">
                <div class=" d-none d-md-block"
                    style="text-align: center; width: 70%; left: 0; right: 0; margin-left: auto; margin-right: auto;">
                    <h1>「秉承香港醬油世家的精粹， <br>將對香港味道的愛，融入每一道家常菜。」</h1>
                    <div style="text-align: right; margin-right: 80px; font-size: 25px; font-weight: bold;">————————————
                        Keith Ku
                    </div>
                </div>


                <img src="img/saurce/6.png" style="width: 250px; left: 0;
      margin-top: 50px; position: absolute;" class="d-none d-md-block" />
                <img src="img/saurce/7.png" style="width: 600px; right: 0;
     margin-top: 150px; position: absolute;" class="d-none d-md-block" />


                <!-- <div class="backgroundword d-none d-md-block" style="font-size: 50px; right: 320px;
top: 580px; position: absolute;">
            香港人精神
        </div> -->

                <img class="backgroundwordimg" src="img/word/word8.png"
                    style="width: 400px;right: 320px; top: 580px; z-index: 1">
                <img class="backgroundwordimg" src="img/closetag.png"
                    style="width: 450px;left: 0px; top: 450px; z-index: 1">


            </div>

            <div class="container d-xs-block d-md-none" style="margin-top: 50px;  margin-bottom: 400px"
                data-aos="fade-up" data-aos-duration="2000">

                <div class="d-xs-block d-md-none"
                    style="width: 100%; left: 0; right: 0; margin-left: auto; margin-right: auto; ">
                    <h1 style="font-size: 21px;">「秉承香港醬油世家的精粹，將對香港味道的愛，融入每一道家常菜。」</h1>
                    <div style="text-align: right; margin-right: 20px; font-size: 16px; font-weight: bold;">————————
                        Keith Au
                    </div>
                </div>


                <img src="img/saurce/6.png" style="width: 120px; left: -20px;
margin-top: 20px; position: absolute;" class=" d-xs-block d-md-none" />
                <img src="img/saurce/7.png" style="width: 250px; right: -20px;
margin-top: 120px; position: absolute;" class=" d-xs-block d-md-none" />


                <img src="./img/word/word8.png" class="backgroundwordimg" class=" d-xs-block d-md-none" style="right: 0px; width: 250px;
        top: 300px; position: absolute; ">

            </div>




            <div class="container">
                <h1 style="margin-bottom: 20px; margin-top: 100px;">
                    <span class=" d-none d-md-block"> 常見問題<img src="img/underline4.png"
                            style="position: relative; width: 250px; left: -200px; top: 10px;">
                    </span>

                    <span class=" d-xs-block d-md-none"> 常見問題<img src="img/underline4.png"
                            style="position: relative; width: 250px; left: -40px; top: -50px; margin-bottom: -60px;">
                    </span>
                </h1>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    Q1: 什麼時候可以開始上課？
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body">
                                早鳥優惠預購課程時間結束後，課程將會分階段陸續上架。
                                <br><br>
                                實際開課日將會透過短訊或電郵通知大家！<br>
                                課程是預錄好的網上課程，你不會錯過任何精心製作的內容。 你可以在有空的時候按觀看和複習。
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    Q2. 請問上課地點? 上課時間?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                上課形式以觀看預先錄製好的影片進行，以確保課程內容製作高品質，更配上中文字幕方便世界各地華人觀看，讓學員更快、更精準學習。

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Q3. 香港以外可以報名嗎？
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordion">
                            <div class="card-body">
                                絕對可以！任何國家都能網上觀看課程。課程視頻以預先錄製模式，打破任可時差地域限制。學員可以隨自己學習進度安排時間上課。
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                    Q4: 請問課程可以看多久？看幾次？
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                可永久、無限次數觀看課程內容。
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Q5. 學習時遇到困難怎樣解決？
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">
                                隨時可以到學員討論專區發問，導師會同學員互動親自解答。歡迎你一起加入學員討論專區與老師和同學一起互動。
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                                    aria-expanded="false" aria-controls="collapseSix">
                                    Q6. 上課前，需要要自備工具嗎？
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                            <div class="card-body">
                                課程主打貼地家常菜，平時家裏煮食用的基本廚具已經足夠。

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSeven">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    Q7. 購買後可以同朋友用一個帳戶共享課程嗎？
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                            data-parent="#accordion">
                            <div class="card-body">
                                很高興你喜歡並選擇我們的課程，相信導師的心血、知識及專業已經得到你認同。為了能提供高品質的教學成效，每一堂課程都需要導師及課程團隊用長時間的人力心力與資源才可以完成，希望可以與更多志同道合的學員分享，同時亦希望你能夠出一分力維護你所支持導師權益，好讓技能繼續傳承。<br><br>

                                另外，多帳戶共用並觀看課程會違反《好想學》的會員使用條款，如經查實有此事，《好想學》保留取消學員資格等權利。
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    Q8. 其他問題？
                                </button>
                            </h5>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                            data-parent="#accordion">
                            <div class="card-body">
                                可以私訊《好想學》社交媒體，或歡迎你電郵到 hello@wewannalearn.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container  d-none d-md-block">

                <div class="d-flex justify-content-between">

                    <a class="navbar-brand" href="#"><img src="logo.png" class=" d-none d-md-block"
                            style="width: 200px;" /><img src="logo.png" class=" d-xs-block d-md-none"
                            style="width: 180px;" /></a>


                    <div class="d-flex justify-content-around">

                        <a class="footerlink" href="#">有關我們</a>
                        <a class="footerlink" href="#">導師介紹</a>
                        <a class="footerlink" href="#">常見問題 </a>

                    </div>

                    <div class="d-flex justify-content-around" style="margin-top: -15px;">

                        <a href="#"><img class="footerlinkicon" src="img/socialicon/fb.png"></a>
                        <a href="#"><img class="footerlinkicon" src="img/socialicon/ig.png"></a>
                        <a href="#"><img class="footerlinkicon" src="img/socialicon/yt.png"> </a>

                    </div>
                    <!-- <a class="navbar-brand" href="#"><img src="logo.png" class=" d-none d-md-block" style="width: 250px;" /><img
                        src="logo.png" class=" d-xs-block d-md-none" style="width: 180px;" />
                </a> -->


                </div>
            </div>

            <div class="container d-xs-block d-md-none">

                <div class="" style="text-align: center;">

                    <a class="navbar-brand" href="#"><img src="logo.png" class=" d-xs-block d-md-none"
                            style="width: 180px;" /></a><br>



                    <a class="footerlink_mobile" href="#">有關我們</a>
                    <a class="footerlink_mobile" href="#">導師介紹</a>
                    <a class="footerlink_mobile" href="#">常見問題 </a>


                    <div class="flex justify-center" style="margin-top: -10px; margin-bottom: 50px;">

                        <a href="#"><img class="footerlinkicon_mobile" src="img/socialicon/fb.png"></a>
                        <a href="#"><img class="footerlinkicon_mobile" src="img/socialicon/ig.png"></a>
                        <a href="#"><img class="footerlinkicon_mobile" src="img/socialicon/yt.png"> </a>

                    </div>
                    <!-- <a class="navbar-brand" href="#"><img src="logo.png" class=" d-none d-md-block" style="width: 250px;" /><img
                        src="logo.png" class=" d-xs-block d-md-none" style="width: 180px;" />
                </a> -->


                </div>
            </div>

        </div>

        <script>
            AOS.init();
            const according_words = [
                `<h3>瑞士汁  (4集）</h3>
                            <span>瑞士汁大家就食得多，但究竟如何做到一個好味嘅瑞士汁？今集會教你製作一個與別不同的瑞士汁，醬汁香濃兼帶有層次感，仲可以保存一年慢慢用！絕對有別於市場上買到的工廠現成醬料！今集更會分享給你除了經典港式瑞士雞翼之外，還可以有什麼其他食物配搭，例如是瑞士汁炒牛肉配煎米底、瑞士汁珍肝等等。</span>`,
                `<h3>醃肉  (4集）</h3>
                            <span>醃肉是烹調的基本技巧，但其重要程度往往會影響一道菜的成敗，就好像普通如醃牛肉或雞肉，究竟點先可以令其醃得鬆軟嫩滑？唔通真係要用化學鬆肉粉？！今集會教你非一般的天然醃肉知識，還會分享點樣以不同香料配合醃肉，做出特色風味。 </span>`,
                `<h3>鹵水  (4集）</h3>
                            <span>鹵水看似簡單，但當中其實大有學問，很多你沒有想過的菜式原來都會以鹵水先入味再加工，應用廣泛可塑性亦很高，今集會教你如何煮製和運用黑/白鹵水，更會示範一些幾近失傳的懷舊鹵水菜式。 </span>`,
                `<h3>蒸蛋 (4集）</h3>
                            <span>蒸水蛋可謂每個家庭都必會煮的家常菜，白飯的最佳伴侶，但往往易煮難精，出品起哂泡泡不夠嫩滑，而且媽咪教落搭配都係幾個選擇，不是三色蛋就是加肉碎，變化實在不大！這集會教你如何十分鐘蒸出一道滑溜得吹彈可破的水蛋，更會分享一些意想不到的Fusion配搭變化，令到一道普通的蒸水蛋從此變得不一樣！</span>`,
                `<h3>煲湯 (4集）</h3>
                            <span>煲湯說成廣東人的傳統飲食文化相信沒太多人會反對，當中時令材料的運用甚廣亦大有學問，究竟那些食材是季節限定食用？又有那些材料配搭會相尅，食咗對身體唔好？今集會跟大家硏究一下煲湯的材料配搭和準備工序，更會教大家如何在短時間內煲出媲美私房菜水準的美味濃湯。  </span>`,
                `<h3> Food pairing (4集）</h3>
                            <span>大家有沒有一種食來食去都是同一味餸嘅感覺？有沒有覺得日日煮飯都要絞盡腦汁很有難度？今集會分享如何決定不同食材的配搭，更會介紹如何單單用同一種食材煮出幾款風味感覺截然不同的菜式，學會之後從此日日輕鬆煮食充滿新鮮感。 </span>`,
            ];

            function choose_according_course(x, y) {
                console.log(x);
                document
                    .getElementById("accordinggroup-course")
                    .getElementsByClassName("myaccording-focus")[0]
                    .classList.add("myaccording-nofocus");
                document
                    .getElementById("accordinggroup-course")
                    .getElementsByClassName("myaccording-focus")[0]
                    .classList.remove("myaccording-focus");
                x.classList.remove("myaccording-nofocus");
                x.classList.add("myaccording-focus");
                document.getElementById("accordingcontent-course").innerHTML =
                    according_words[y];
            }

            function switchphoto_mousin(x) {
                x = x.getElementsByTagName("img")[0];
                if (x.src.indexOf("before") != -1) {
                    x.src = x.src.split("before").join("after");
                }
            }

            function switchphoto_mousout(x) {
                x = x.getElementsByTagName("img")[0];
                if (x.src.indexOf("after") != -1) {
                    x.src = x.src.split("after").join("before");
                }
            }
        </script>
        <script src="https://player.vimeo.com/api/player.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js"></script>

</body>

</html>